@page
@using CashTrack.Models.Common
@using CashTrack.Models.IncomeModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Incomes.IndexModel
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = "No Income Found!", MessageType = MessageType.Info, Show = Model.IncomeResponse != null && Model.IncomeResponse.TotalCount == 0 })

    <div class="row mb-1">
        <div class="col-xl-6 col-12 mb-1 mr-auto">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-block">
                        <div class="input-group-text">Search</div>
                    </div>
                    <select data-width="100%" asp-items="Model.QueryOptions" class="form-select text-center" id="querySelect" asp-for="Query">
                    </select>
                    <select id="categorySelect" data-width="100%" class="form-select text-center display-none" asp-for="@Model.Q">
                    </select>
                    <input id="qInput" data-val="true" asp-for="@Model.Q" type="Model.InputType" class="form-control w-50 text-center">
                    <button class="btn btn-secondary rounded-end" type="submit" asp-route-PageNumber="1">
                        <i class="bi bi-search text-white mx-3 icon-size-md"></i>
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-xl-3 col-6 px-xl-0 d-none d-sm-block">
            <div class="btn-group" role="group">
                <div class="input-group-prepend d-none d-md-block">
                    <div class="input-group-text">Current</div>
                </div>
                <a asp-page="./Index" asp-route-Query="8" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Month</a>
                <a asp-page="./Index" asp-route-Query="9" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Quarter</a>
                <a asp-page="./Index" asp-route-Query="10" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Year</a>
                <a asp-page="./Index" asp-route-Query="11" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary thirty-days-button">30 Days</a>
            </div>
        </div>
        <div class="col-3 col-xl-1 d-none d-sm-block">
            <span class="validation-text" asp-validation-for="@Model.Q"></span>
        </div>
        <div class="col-xs-12 col-xl-2 col-3 d-flex justify-content-md-between justify-content-xs-between me-xl-0">
            <a type="button" asp-page="../Import/Expenses" class="btn btn-outline-primary text-wrap btn-height" id="importLink">Import</a>
            <button class="btn btn-primary text-wrap btn-height" data-bs-toggle="modal" data-bs-target="#addIncomeModal" id="addIncomeButton">Add Income</button>
        </div>
    </div>
    @* Add Income Modal *@
    <div class="modal fade" id="addIncomeModal">
        @await Html.PartialAsync("_AddIncomeModal", new AddEditIncomeModal(){ Returnurl = "./Index", IsEdit = false, CategoryList = new SelectList(Model.CategoryList, "Id", "Category"), Date= DateTime.Today });
    </div>
    @*End Add Income Modal*@
    @if (Model.IncomeResponse != null && Model.IncomeResponse.TotalCount > 0)
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class="text-center table-primary">
                            <th width="10%">
                                Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="10%">
                                Source
                            </th>
                            <th width="10%">
                                Category
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var income in Model.IncomeResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @income.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    @String.Format("{0:n}", income.Amount)

                                </td>
                                <td>
                                    <a asp-page="../Sources/Detail" asp-route-id="@income.SourceId" class="text-black">@income.Source</a>
                                </td>
                                <td>
                                    @income.Category
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(income.RefundNotes) && !string.IsNullOrEmpty(income.Notes))
                                    {
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@income.Id" class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-bootstrap-reboot text-primary icon-size-lg"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@income.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal{
                                Title="Refund Notes", Message = income.RefundNotes})
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(income.RefundNotes))
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-file-earmark-check text-white visibility-hidden icon-size-lg"></i>
                                        </button>
                                    }
                                    @if (!string.IsNullOrEmpty(income.Notes))
                                    {
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#detailModal-@income.Id" class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-file-earmark-check text-primary icon-size-lg"></i>
                                        </button>
                                        @*Begin Detail Modal*@
                                        <div class="modal fade" id="detailModal-@income.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal{ Title="Notes",
                                Message = income.Notes})
                                        </div>
                                        @*End Detail Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(income.Notes) && !string.IsNullOrEmpty(income.RefundNotes))
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-file-earmark-check text-white visibility-hidden icon-size-lg"></i>
                                        </button>
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@income.Id" class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-bootstrap-reboot text-primary icon-size-lg"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@income.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal{ Title="Refund Notes",
                                Message = income.RefundNotes})
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@income.Id" class="pe-2 ps-0 ms-0 icon-button">
                                            <i class="bi bi-file-earmark-check text-white icon-size-lg visibility-hidden"></i>
                                        </button>
                                    }
                                    <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#editIncomeModal-@income.Id" id="editIncomeButton-@income.Id" class="px-2 icon-button">
                                        <i class="bi bi-pencil text-primary icon-size-lg"></i>
                                    </button>
                                    @* Edit Income Modal *@
                                    <div class="modal fade" id="editIncomeModal-@income.Id">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title w-100">
                                                        @if (income.IsRefund)
                                                        {
                                                            <span class="validation-text">You cannot edit a Refund after it's been applied</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Edit an Expense</span>
                                                        }
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <form method="post"
                                                      asp-page="./Index"
                                                      asp-page-handler="AddEdit"
                                                      id="editIncomeForm-@income.Id">
                                                            <input type="hidden" asp-for="@income.Id" />
                                                            <input type="hidden" asp-for="@Model.PageNumber" />
                                                            <input type="hidden" asp-for="@Model.Q" />
                                                            <input type="hidden" asp-for="@Model.Query" />
                                                            <div class="row mb-3">
                                                                <div class="col-4">
                                                                    <label class="visually-hidden" asp-for="@income.Date">
                                                                        Date
                                                                    </label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-text text-center">Date</div>
                                                                        <input data-val="true" asp-for=@income.Date
                                                                       asp-format="{0:yyyy-MM-dd}"
                                                                       type="date" class="form-control" id="editIncomeDate-@income.Id">
                                                                        <span asp-validation-for="@income.Date"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="visually-hidden"
                                                                   asp-for="@income.Amount">Amount</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">$</div>
                                                                        <input data-val="true"
                                                                       asp-for=@income.Amount
                                                                       type="number" min="0.00" step="any"
                                                                       class="form-control" id="editIncomeAmount-@income.Id"
                                                                       placeholder="0.00">
                                                                        <span asp-validation-for="@income.Amount"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 align-self-center border rounded py-1 d-flex justify-content-center">
                                                                    <div class="form-check form-switch">
                                                                        <label class="form-check-label"
                                                                       asp-for="@income.IsRefund">
                                                                            This is a Refund
                                                                        </label>
                                                                        <input class="form-check-input"
                                                                       type="checkbox"
                                                                       role="switch"
                                                                       data-val="true"
                                                                       id="editIncomeRefundBool-@income.Id"
                                                                       asp-for="@income.IsRefund" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-8">
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">Category</div>
                                                                        <label class="visually-hidden"
                                                                       asp-for="@income.Category">Category</label>
                                                                        <select data-val="true"
                                                                        asp-for=@income.Category
                                                                        class="form-control text-center"
                                                                        id="editIncomeCategory-@income.Id">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 d-flex justify-content-center">
                                                                    <a class="btn btn-secondary" type="button"
                                                               asp-page="/IncomeCategory/Add">Add New Category</a>
                                                                </div>
                                                                <span class="validation-text" asp-validation-for="@income.Category"></span>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-8">
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">Source</div>
                                                                        <label class="visually-hidden"
                                                                       asp-for="@income.Source">Source</label>
                                                                        <input class="form-control"
                                                                       data-val="true" type="text"
                                                                       asp-for="@income.Source"
                                                                       id="editIncomeSource-@income.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 align-self-center border rounded py-1">
                                                                    <div class="form-check ">
                                                                        <label class="form-check-label"
                                                                       asp-for="@income.CreateNewSource">Create New Income Source</label>
                                                                        <input class="form-check-input"
                                                                       type="checkbox" role="switch"
                                                                       id="editIncomeCreateNewSource-@income.Id"
                                                                       asp-for="@income.CreateNewSource" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3 px-1">
                                                                <label class="visually-hidden"
                                                               asp-for="@income.Notes"></label>
                                                                <textarea class="form-control" asp-for="@income.Notes"
                                                                  id="editIncomeNotes-@income.Id" rows="3" placeholder="Notes"></textarea>
                                                            </div>
                                                            <span class="validation-text" asp-validation-for="@income.Notes"></span>
                                                            <span class="validation-text" asp-validation-for="@income.Source"></span>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    @if (string.IsNullOrEmpty(income.RefundNotes))
                                                    {
                                                        <a asp-page="./Refund" asp-route-id="@income.Id"
                                               type="button" class="btn btn-info display-none" id="refundButton-@income.Id">Refund Expenses</a>
                                                    }
                                                    <form>
                                                        @{
                                                            var isDisabled = @income.IsRefund ? "disabled" : "";
                                                        }
                                                        <button @isDisabled id="editIncomeSubmitButton-@income.Id" type="submit" class="btn btn-primary"
                                                        form="editIncomeForm-@income.Id">
                                                            Save Changes
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Edit Income Modal*@

                                    <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@income.Id" class="ps-2 ps-0 me-0 icon-button">
                                        <i class="bi bi-trash text-primary icon-size-lg"></i>
                                    </button>
                                    @*Delete Model*@
                                    <div class="modal fade" id="deleteModal-@income.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-center">
                                                        <strong>Are you sure you want to Delete this Income?</strong>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>

                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <form method="post"
                                                  asp-page="./Index"
                                                  asp-page-handler="Delete"
                                                  asp-route-incomeId="@income.Id"
                                                  asp-route-query="@Model.Query"
                                                  asp-route-q="@Model.Q"
                                                  asp-route-pageNumber="@Model.PageNumber">
                                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Delete Modal*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.IncomeResponse.TotalCount > 0)
                        {
                            var currentCount = Model.IncomeResponse.PageNumber * @Model.IncomeResponse.PageSize;
                            <span class="text-muted">@(Math.Min(currentCount, Model.IncomeResponse.TotalCount)) of @Model.IncomeResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                        @if (@Model.IncomeResponse.TotalAmount > 0 && Model.InfoMessage == null)
                        {
                            <div class="text-center">
                                <strong class="p-0 text-success">Total: $ @Model.IncomeResponse.TotalAmount</strong>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Income/Index",
                    IsExpensePage = false,
                    PageNumber = Model.IncomeResponse.PageNumber,
                    TotalPages = Model.IncomeResponse.TotalPages,
                    Query = Model.Query,
                    q = Model.Q,
                    q2 = null
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
<script src="~/js/income.js" asp-append-version="true"></script>
}
