@page
@using CashTrack.Models.Common
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Incomes.IndexModel
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    @if (Model.Message != null)
    {
        <div style="position: relative;">
            <div class="toast fade show bg-success" role="alert" id="toast" style="position: absolute; right: 0; top: 0; z-index:1200;">
                <div class="toast-body d-flex justify-content-between align-items-center">
                    <i class="bi bi-hand-thumbs-up text-white mx-3" role="img"
                   style="font-size: 1.5rem;"></i>
                    @Model.Message
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
    }
    @if (Model.IncomeResponse != null && Model.IncomeResponse.TotalCount == 0)
    {
                <div style="position: relative;">
            <div class="toast fade show bg-info" role="alert" id="noIncomeToast" style="position: absolute; right: 0; top: 0; z-index:1200;">
                <div class="toast-body d-flex justify-content-between align-items-center">
                    <i class="bi bi-exclamation-circle text-white mx-3" role="img"
                   style="font-size: 1.5rem;"></i>
                    <span style="font-size: 1.25rem;">No Income Found!</span><button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
    }
    @if (!ViewData.ModelState.IsValid)
    {
        <div style="position: relative;">
            <div class="toast fade show bg-danger" role="alert" id="modelStateToast" style="position: absolute; right: 0; top: 0; z-index:1200;">
                <div class="toast-body d-flex align-items-center" asp-validation-summary="All">
                    <i class="bi bi-x-circle text-white mx-3" role="img"
                   style="font-size: 1.5rem;"></i>
                </div>
            </div>
        </div>
    }
    <div class="row mb-1">
        <div class="col-xl-6 col-12 mb-1 mr-auto">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-block">
                        <div class="input-group-text">Search</div>
                    </div>
                    <select data-width="100%" asp-items="Model.QueryOptions" class="form-select text-center" id="querySelect" asp-for="Query">
                    </select>
                    <select id="categorySelect" style="display: none;" data-width="100%" class="form-select text-center" asp-for="@Model.Q">
                    </select>
                    <input id="qInput" data-val="true" asp-for="@Model.Q" type="Model.InputType" class="form-control w-50 text-center">
                    <button class="btn btn-secondary" type="submit" asp-route-PageNumber="1">
                        <i class="bi bi-search text-white mx-3" role="img"
                           style="font-size: 1rem;"></i>
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-xl-3 col-6 px-xl-0 d-none d-sm-block">
            <div class="btn-group" role="group">
                <div class="input-group-prepend d-none d-md-block">
                    <div class="input-group-text">Current</div>
                </div>
                <a asp-page="./Index" asp-route-Query="8" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Month</a>
                <a asp-page="./Index" asp-route-Query="9" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Quarter</a>
                <a asp-page="./Index" asp-route-Query="10" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary">Year</a>
                <a asp-page="./Index" asp-route-Query="11" asp-route-pageNumber="@Model.PageNumber" type="button" class="btn btn-secondary" style="height: 38px; overflow: hidden;">30 Days</a>
            </div>
        </div>
        <div class="col-4 col-xl-1">
            <span style="color: red;" asp-validation-for="@Model.Q"></span>
        </div>
        <div class="col-xl-2 col-2 d-flex justify-content-end">
            <button class="btn btn-primary text-wrap" style="height: 38px;" data-bs-toggle="modal" data-bs-target="#addIncomeModal" id="addIncomeButton">Add Income</button>
        </div>
    </div>
    @* Add Income Modal *@
    <div class="modal fade" id="addIncomeModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100">Add Income</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="post"
                              asp-page="./Index"
                              asp-page-handler="AddEdit"
                              id="addIncomeForm">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="visually-hidden" asp-for="@Model.Income.Date">Date</label>
                                    <div class="input-group">
                                        <div class="input-group-text text-center">Date</div>
                                        <input data-val="true" asp-for=@Model.Income.Date type="date" class="form-control" id="addIncomeDate">
                                        <span asp-validation-for="@Model.Income.Date"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="visually-hidden" asp-for="@Model.Income.Amount">Amount</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input data-val="true"
                                               asp-for=@Model.Income.Amount type="number" min="0.00" step="any" class="form-control" id="addIncomeAmount" placeholder="0.00">
                                        <span asp-validation-for="@Model.Income.Amount"></span>
                                    </div>
                                </div>
                                <div class="col-4 align-self-center border rounded py-1 d-flex justify-content-center">
                                    <div class="form-check form-switch ">
                                        <label class="form-check-label" asp-for="@Model.Income.IsRefund">This is a Refund</label>
                                        <input class="form-check-input" type="checkbox" role="switch" id="addIncomeRefundBool" data-val="true"
                                               asp-for="@Model.Income.IsRefund" />
                                        <span asp-validation-for="@Model.Income.IsRefund"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">Category</div>
                                        <label class="visually-hidden" asp-for="@Model.Income.Category">Category</label>
                                        <select data-val="true"
                                                asp-for=@Model.Income.Category
                                                class="form-control text-center"
                                                id="addIncomeCategory">
                                            <option value="" selected disabled hidden>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <a class="btn btn-secondary" type="button" asp-page="/IncomeCategory/Add">Add New Category</a>
                                </div>
                                <span style="color: red;" asp-validation-for="Income.Category"></span>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">Source</div>
                                        <label class="visually-hidden" asp-for="Income.Source">Income Source</label>
                                        <input class="form-control" data-val="true" type="text" asp-for="Income.Source" id="addIncomeSource" />
                                    </div>
                                </div>
                                <div class="col-4 align-self-center border rounded py-1">
                                    <div class="form-check ">
                                        <label class="form-check-label" asp-for="@Model.Income.CreateNewSource">Create New Income Source</label>
                                        <input class="form-check-input" type="checkbox" role="switch" id="addIncomeCreateNewSource"
                                               asp-for="@Model.Income.CreateNewSource" />
                                    </div>
                                </div>
                                <span style="color: red;" asp-validation-for="Income.Source"></span>
                            </div>
                            <div class="row mb-3 px-1">
                                <label class="visually-hidden" asp-for="@Model.Income.Notes"></label>
                                <textarea class="form-control" asp-for="@Model.Income.Notes" id="addIncomeNotes" rows="3" placeholder="Notes"></textarea>
                            </div>
                            <span style="color: red;" asp-validation-for="@Model.Income.Notes"></span>
                        </form>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-evenly">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form>
                        <button id="addIncomeSubmitButton" type="submit" class="btn btn-primary" form="addIncomeForm">Add New Income</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*End Add Income Modal*@
    @if (Model.IncomeResponse != null && Model.IncomeResponse.TotalCount > 0)
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class="text-center table-primary">
                            <th width="10%">
                                Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="10%">
                                Source
                            </th>
                            <th width="10%">
                                Category
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var income in Model.IncomeResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @income.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    @income.Amount

                                </td>
                                <td>
                                    @income.Source
                                </td>
                                <td>
                                    @income.Category
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(income.RefundNotes) && !string.IsNullOrEmpty(income.Notes))
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@income.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-bootstrap-reboot text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@income.Id">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title w-100">Refund Notes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-wrap">
                                                        @income.RefundNotes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(income.RefundNotes))
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal" disabled class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white" role="img"
                                   style="font-size: 1.25rem; visibility: hidden;"></i>
                                        </button>
                                    }
                                    @if (!string.IsNullOrEmpty(income.Notes))
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal"
                                    data-bs-target="#detailModal-@income.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                        </button>
                                        @*Begin Detail Modal*@
                                        <div class="modal fade" id="detailModal-@income.Id">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title w-100">Notes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-wrap">
                                                        @income.Notes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*End Detail Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(income.Notes) && !string.IsNullOrEmpty(income.RefundNotes))
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal" disabled class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white" role="img"
                                   style="font-size: 1.25rem; visibility: hidden;"></i>
                                        </button>
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@income.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-bootstrap-reboot text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@income.Id">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title w-100">Refund Notes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-wrap">
                                                        @income.RefundNotes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@income.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white" role="img"
                                   style="font-size: 1.25rem; visibility: hidden;"></i>
                                        </button>
                                    }
                                    <button style="background: none; padding: 0px; border: none;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editIncomeModal-@income.Id" id="editIncomeButton-@income.Id" class="px-2">
                                        <i class="bi bi-pencil text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                    </button>
                                    @* Edit Income Modal *@
                                    <div class="modal fade" id="editIncomeModal-@income.Id">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title w-100">
                                                        @if (income.IsRefund)
                                                        {
                                                            <span style="color: red;">You cannot edit a Refund after it's been applied</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Edit an Expense</span>
                                                        }
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <form method="post"
                                                      asp-page="./Index"
                                                      asp-page-handler="AddEdit"
                                                      id="editIncomeForm-@income.Id">
                                                            <input type="hidden" asp-for="@income.Id" />
                                                            <input type="hidden" asp-for="@Model.PageNumber" />
                                                            <input type="hidden" asp-for="@Model.Q" />
                                                            <input type="hidden" asp-for="@Model.Query" />
                                                            <div class="row mb-3">
                                                                <div class="col-4">
                                                                    <label class="visually-hidden" asp-for="@income.Date">
                                                                        Date
                                                                    </label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-text text-center">Date</div>
                                                                        <input data-val="true" asp-for=@income.Date
                                                                       asp-format="{0:yyyy-MM-dd}"
                                                                       type="date" class="form-control" id="editIncomeDate-@income.Id">
                                                                        <span asp-validation-for="@income.Date"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="visually-hidden"
                                                                   asp-for="@income.Amount">Amount</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">$</div>
                                                                        <input data-val="true"
                                                                       asp-for=@income.Amount
                                                                       type="number" min="0.00" step="any"
                                                                       class="form-control" id="editIncomeAmount-@income.Id"
                                                                       placeholder="0.00">
                                                                        <span asp-validation-for="@income.Amount"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 align-self-center border rounded py-1 d-flex justify-content-center">
                                                                    <div class="form-check form-switch">
                                                                        <label class="form-check-label"
                                                                       asp-for="@income.IsRefund">
                                                                            This is a Refund
                                                                        </label>
                                                                            <input class="form-check-input"
                                                                       type="checkbox"
                                                                       role="switch"
                                                                       data-val="true"
                                                                       id="editIncomeRefundBool-@income.Id"
                                                                       asp-for="@income.IsRefund" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-8">
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">Category</div>
                                                                        <label class="visually-hidden"
                                                                       asp-for="@income.Category">Category</label>
                                                                            <select data-val="true"
                                                                        asp-for=@income.Category
                                                                        class="form-control text-center"
                                                                        id="editIncomeCategory-@income.Id">
                                                                        </select>                                                                           
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 d-flex justify-content-center">
                                                                    <a class="btn btn-secondary" type="button"
                                                               asp-page="/IncomeCategory/Add">Add New Category</a>
                                                                </div>
                                                                <span style="color: red;" asp-validation-for="@income.Category"></span>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-8">
                                                                    <div class="input-group">
                                                                        <div class="input-group-text">Source</div>
                                                                        <label class="visually-hidden"
                                                                       asp-for="@income.Source">Source</label>
                                                                        <input class="form-control"
                                                                       data-val="true" type="text"
                                                                       asp-for="@income.Source"
                                                                       id="editIncomeSource-@income.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 align-self-center border rounded py-1">
                                                                    <div class="form-check ">
                                                                        <label class="form-check-label"
                                                                       asp-for="@income.CreateNewSource">Create New Income Source</label>
                                                                        <input class="form-check-input"
                                                                       type="checkbox" role="switch"
                                                                       id="editIncomeCreateNewSource-@income.Id"
                                                                       asp-for="@income.CreateNewSource" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3 px-1">
                                                                <label class="visually-hidden"
                                                               asp-for="@income.Notes"></label>
                                                                <textarea class="form-control" asp-for="@income.Notes"
                                                                  id="editIncomeNotes-@income.Id" rows="3" placeholder="Notes"></textarea>
                                                            </div>
                                                            <span style="color: red;" asp-validation-for="@income.Notes"></span>
                                                            <span style="color: red;" asp-validation-for="@income.Source"></span>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    @if (string.IsNullOrEmpty(income.RefundNotes))
                                                    {
                                                        <a style="display: none;" asp-page="./Refund" asp-route-id="@income.Id"
                                               type="button" class="btn btn-info" id="refundButton-@income.Id">Refund Expenses</a>
                                                    }
                                                    <form>
                                                        @{
                                                            var isDisabled = @income.IsRefund ? "disabled" : "";
                                                        }
                                                        <button @isDisabled id="editIncomeSubmitButton-@income.Id" type="submit" class="btn btn-primary"
                                                        form="editIncomeForm-@income.Id">
                                                            Save Changes
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Edit Income Modal*@

                                    <button style="background: none; padding: 0px; border: none;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@income.Id" class="ps-2 ps-0 me-0">
                                        <i class="bi bi-trash text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                    </button>
                                    @*Delete Model*@
                                    <div class="modal fade" id="deleteModal-@income.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-center">
                                                        <strong>Are you sure you want to Delete this Income?</strong>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>

                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <form method="post"
                                                  asp-page="./Index"
                                                  asp-page-handler="Delete"
                                                  asp-route-incomeId="@income.Id"
                                                  asp-route-query="@Model.Query"
                                                  asp-route-q="@Model.Q"
                                                  asp-route-pageNumber="@Model.PageNumber">
                                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Delete Modal*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.IncomeResponse.TotalCount > 0)
                        {
                            var currentCount = Model.IncomeResponse.PageNumber * @Model.IncomeResponse.PageSize;
                            <span class="text-muted">@(Math.Min(currentCount, Model.IncomeResponse.TotalCount)) of @Model.IncomeResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                        @if (@Model.IncomeResponse.TotalAmount > 0 && Model.Message == null)
                        {
                            <div class="text-center">
                                <strong class="p-0 text-success">Total: $ @Model.IncomeResponse.TotalAmount</strong>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Income/Index",
                    IsExpensePage = false,
                    PageNumber = Model.IncomeResponse.PageNumber,
                    TotalPages = Model.IncomeResponse.TotalPages,
                    Query = Model.Query,
                    q = Model.Q,
                    q2 = null
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.js" asp-append-version="true">
</script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">

    $(document).ready(() => {

        //super easy toast notification
        @if(Model.Message != null)
        {
            @:$("#toast").show().delay(2000).fadeOut();
        }
        @if(Model.IncomeResponse == null || Model.IncomeResponse.TotalCount == 0)
        {
            @:$("#noIncomeToast").show().delay(2000).fadeOut();
        }
        @if(!ModelState.IsValid)
        {
            @:$("#modelStateToast").show().delay(4000).fadeOut();
        }
        //get query values for dropdown lists
        let q = getQueryValue();
        let queryType = getQueryType();
        //fires on load
        let selectListValue = $("#querySelect").val();
        handleQuerySelectChange(selectListValue);

        //GET REQUEST METHODS
        //When the query selection option changes, change the input type box
        $("#querySelect").change(() => {
            let selectListValue = $("#querySelect").val();
            handleQuerySelectChange(selectListValue);
        });
        //massive switch statement handling qet requests
        function handleQuerySelectChange(selectListValue) {
            switch (selectListValue) {
                //date
                case "0":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "date");
                    break;
                //month
                case "1":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "month");
                    break;
                //quarter
                case "2":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "month");
                    break;
                //year
                case "3":
                    resetCategorySelect();
                    $("#qInput").prop("type", "number");
                    $("#qInput").prop('min', "2012");
                    let currentYear = new Date().getFullYear();
                    $("#qInput").prop('max', currentYear);
                    if(q !== undefined && queryType === "4"){
                        console.log(q)
                        $("#qInput").val(q);
                    }
                    else{
                        $("#qInput").val(parseInt(new Date().getFullYear()));
                    }
                    break;
                //amount
                case "4":
                    resetCategorySelect();
                    $("#qInput").val('');
                    $("#qInput").prop("type", "number");
                    $("#qInput").prop('step', "any");
                    $("#qInput").prop('min', "0.00");
                    if(q !== undefined && queryType === "5"){
                        $("#qInput").val(q);
                    }
                    break;
                //notes
                case "5":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "text");
                    if(q !== undefined && queryType === "6"){
                        $("#qInput").val(q);
                    }
                    break;
                //source
                case "6":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "text");
                    break;
                //category
                case "7":
                    resetNumbersForm();
                    $("#qInput").hide();
                    $("#categorySelect").show();
                    $.ajax({
                        url: `/api/incomecategory`,
                        method: 'GET'
                    }).then((response) => {
                        $("#categorySelect").empty();
                        for (let category of response) {
                            if(q !== undefined && queryType == "8")
                            {
                                if(Number(category.id) === Number(q))
                                {
                                    $("#categorySelect").append(`<option selected value=${category.id}>${category.category}</option>`);
                                }
                                else
                                {
                                    $("#categorySelect").append(`<option value=${category.id}>${category.category}</option>`);
                                }
                            }
                            else{
                                $("#categorySelect").append(`<option value=${category.id}>${category.category}</option>`);
                            }
                        }
                    }).catch((error) => alert(error));
                    break;
                default:
                    resetNumbersForm();
                    resetCategorySelect();
                    $("#qInput").prop("type", "date");
                    break;
            }
        }
        //if it's a query of the amount, make it a nice loking decimal
        $('#qInput').change(() => {
            let selectListValue = $("#querySelect").val();
            if (selectListValue == "4") {
                let amount = $("#qInput").val();
                let rounded = Math.round(amount * 100) / 100;
                let finalNumber = rounded.toFixed(2);
                $("#qInput").val(finalNumber);
            }
        });
        //if it's a query of the income source, show a dropdown list of matching income source names
        $("#qInput").on("input", () => {
            let selectListValue = $("#querySelect").val();
            if (selectListValue === "6") {
                let searchTerm = $("#qInput").val();
                $.ajax({
                    url: `/api/incomesource?sourceName=${searchTerm}`,
                    method: 'GET'
                }).then((response) => {
                    console.log(response)
                    $("#qInput").empty();
                    $("#qInput").autocomplete({ source: response });
                }).catch((error) => console.log(error));
            }
        });


        //ADD INCOME MODAl
        //when adding a new income amount, make it a nice loking decimal
        $('#addIncomeAmount').change(() => {
                let amount = $("#addIncomeAmount").val();
                let rounded = Math.round(amount * 100) / 100;
                let finalNumber = rounded.toFixed(2);
                $("#addIncomeAmount").val(finalNumber);
        });
        //loads sub category list when add income modal opens
        $("#addIncomeButton").click(() =>{
            $.ajax({
                url: `/api/incomecategory`,
                method: 'GET'
            }).then((response) => {
                $("#addIncomeCategory").empty();
                $("#addIncomeCategory").append(`<option value="" selected disabled hidden>Select</option>`);
                for (let category of response) {
                    $("#addIncomeCategory").append(`<option value=${category.id}>${category.category}</option>`);
                }});
        });

        //Autocomplete for income sources on add income modal
         $("#addIncomeSource").on("input", () => {
             let sourceName = $("#addIncomeSource").val();
             $.ajax({
                 url: `/api/incomesource?sourceName=${sourceName}`,
                 method: 'GET'
             }).then((response) => {
                 console.log(response);
                 $("#addIncomeSource").empty();
                 $("#addIncomeSource").autocomplete({ source: response });
             });
        });

        //changes form if it's a refund (forces refund category)
        $("#addIncomeRefundBool").click(() => {
            if($("#addIncomeRefundBool").is(":checked")){
                $("#addIncomeCategory").empty();
                $("#addIncomeCategory").append(`<option value="9" selected>Refund</option>`);
            }
            else{
                $("#addIncomeSubmitButton").text("Save Changes");
                $.ajax({
                    url: `/api/incomecategory`,
                    method: 'GET'
                }).then((response) => {
                    $("#addIncomeCategory").empty();
                    $("#addIncomeCategory").append(`<option value="" selected disabled hidden>Select</option>`);
                    for (let category of response) {
                        $("#addIncomeCategory").append(`<option value=${category.id}>${category.category}</option>`);
                    }});
            }
        });

        //EDIT INCOME MODALS
        //dynamically loaded code for each edit modal
        @if(@Model.IncomeResponse != null && @Model.IncomeResponse.ListItems.Count() > 0)
        {
            var incomeIds = Model.IncomeResponse.ListItems.ToDictionary(x => x.Id, x => x.Category);
            foreach(var id in incomeIds)
            {
                //Loads the category select list
                <text>$("#editIncomeButton-@id.Key").click(() =>{
                    if($("#editIncomeRefundBool-@id.Key").is(":checked")){
                        $("#refundButton-@id.Key").show();
                    }

                    $.ajax({
                        url: `/api/incomecategory`,
                        method: 'GET'
                    }).then((response) => {
                        $("#editIncomeCategory-@id.Key").empty();
                        for (let category of response) {
                            if(category.category === "@id.Value")
                            {
                                $("#editIncomeCategory-@id.Key").append(`<option selected value=${category.id}>${category.category}</option>`);
                            }
                            else{
                                $("#editIncomeCategory-@id.Key").append(`<option value=${category.id}>${category.category}</option>`);
                            }
                        }});
                        });
                </text>
                //Autocomplete for income source names
                <text>$("#editIncomeSource-@id.Key").on("input", () => {
                    let editSearchTerm = $("#editIncomeSource-@id.Key").val();
                    $.ajax({
                        url: `/api/incomesource?sourceName=${editSearchTerm}`,
                        method: 'GET'
                    }).then((response) => {
                        $("#editIncomeSource-@id.Key").empty();
                        $("#editIncomeSource-@id.Key").autocomplete({ source: response });
                    });
                })
                </text>
                //When updating the income amount, make it a nice looking decimal
                <text>$('#editIncomeAmount-@id.Key').change(() => {
                    let amount = $("#editIncomeAmount-@id.Key").val();
                    let rounded = Math.round(amount * 100) / 100;
                    let finalNumber = rounded.toFixed(2);
                    $("#editIncomeAmount-@id.Key").val(finalNumber);
                });
                </text>
                //changes form if it's a refund (forces refund category)
                <text>
                $("#editIncomeRefundBool-@id.Key").click(() => {
                    if($("#editIncomeRefundBool-@id.Key").is(":checked")){
                        $("#refundButton-@id.Key").show();
                        $("#editIncomeCategory-@id.Key").empty();
                        $("#editIncomeCategory-@id.Key").append(`<option value="9" selected>Refund</option>`);
                    }
                    else{
                        $("#refundButton-@id.Key").hide();
                        $.ajax({
                            url: `/api/incomecategory`,
                            method: 'GET'
                        }).then((response) => {
                            $("#editIncomeCategory-@id.Key").empty();
                            $("#editIncomeCategory-@id.Key").append(`<option value="" selected disabled hidden>Select</option>`);
                            for (let category of response) {
                                $("#editIncomeCategory-@id.Key").append(`<option value=${category.id}>${category.category}</option>`);
                            }});
                            }});
                </text>
            }
        }

        //general helper methods
        function getQueryValue()
        {
            let queries = [], hash;
            let values = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(let i = 0; i < values.length; i++)
            {
                hash = values[i].split('=');
                if(hash[0] === "Q")
                {
                    return hash[1];
                }
            }
            return undefined;
        }
        function getQueryType()
        {
            let queries = [], hash;
            let values = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(let i = 0; i < values.length; i++)
            {
                hash = values[i].split('=');
                if(hash[0] === "Query")
                {
                    return hash[1];
                }
            }
            return undefined;
        }
        function resetNumbersForm(){
            $("#qInput").removeAttr('min');
            $("#qInput").removeAttr('step');
            $("#qInput").removeAttr('min');
            $("#qInput").val('');
        }
        function resetCategorySelect(){
            $("#qInput").show();
            $("#categorySelect").empty();
            $("#categorySelect").hide();
        }
    });
</script>
    }
