@page
@using CashTrack.Models.ImportCsvModels
@using CashTrack.Models.IncomeSourceModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Import.IncomeModel
@{
    Layout = "_Layout";
}
<div class="container-fluid mb-0">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a asp-page="./Expenses" class="nav-link">Expenses</a>
        </li>
        <li class="nav-item">
            <a asp-page="./Income" class="nav-link active">Income</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Add</a>
            <ul class="dropdown-menu">
                <li class="text-center">
                    <button class="dropdown-item fakelink text-center" id="addSource" data-bs-toggle="modal" data-bs-target="#addSourceModal">Add Source</button>
                </li>
                <li class="text-center">
                    <button class="dropdown-item fakelink text-center" id="addCategory">Add Category</button>
                </li>
            </ul>
        </li>
    </ul>
    <div class="modal fade" id="addSourceModal">
        @await Html.PartialAsync("_AddIncomeSourcePartial", new AddEditIncomeSourceModal() { ReturnUrl = "~/Import/Income", SuggestOnLookup = true })
    </div>

    @if (Model.IncomeReviewResponse != null && Model.IncomeReviewResponse.ListItems.Count() > 0)
    {
        <div class="row mb-0">
            <div class="table-responsive table-sm">
                <table class="table table-bordered table-hover table-sm mb-0 mt-2">
                    <thead>
                        <tr class="text-center table-primary">
                            <th width="10%">
                                Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="15%">
                                Source
                            </th>
                            <th width="15%">
                                Category
                            </th>
                            <th width="40%">
                                Notes
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var income in Model.IncomeReviewResponse.ListItems)
                        {
                            <tr class="text-center">
                                <form method="post" id="editIncomeReviewForm-@income.Id" asp-page-handler="AddIncome" asp-route-pageNumber="@Model.PageNumber">
                                    <input type="hidden" asp-for="@Model.SelectedIncomeId" value="@income.Id" />

                                <td>
                                    <input type="hidden" asp-for="@Model.SelectedIncome.Date" value="@income.Date" />
                                    @income.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    <input type="hidden" asp-for="@Model.SelectedIncome.Amount" value="@income.Amount" />
                                    @income.Amount
                                </td>
                                <td>
                                    <input class="form-control text-center form-control-sm source-autosuggest-js" 
                                    asp-for="@Model.SelectedIncome.Source" id="sourceName-@income.Id" value="@income.SuggestedSource" />
                                </td>
                                <td>
                                    @{
                                    var dropdownList = new SelectList(Model.CategoryList, "Id", "Category", income.SuggestedCategoryId);
                                }
                                <select class="form-select text-center form-select-sm" 
                                id="category-@income.Id" asp-for="SelectedIncome.CategoryId" 
                                asp-items="@dropdownList" value="@income.SuggestedCategoryId">
                                @{
                                    if (income.SuggestedCategoryId == 0)
                                    {
                                        <option value="" selected disabled hidden></option>
                                    }
                                    }
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control mx-auto form-control-sm" asp-for="@Model.SelectedIncome.Notes" value="@income.Notes" />
                                </td>
                                <td class="mx-0 px-0 py-0 my-0">
                                    <button type="submit" class="me-2 ms-1 py-0 my-0 icon-button">
                                    <i class="bi bi-check2-circle text-primary icon-size-xl"></i>
                                </button>

                                <button
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal-@income.Id"
                                type="button" class="mx-0 px-0 py-0 my-0 icon-button">
                                <i class="bi bi-x-circle text-primary action-icon"></i>
                            </button>
                            @*Delete Modal*@
                   <div class="modal fade" id="deleteModal-@income.Id">
                       <div class="modal-dialog" role="document">
                           <div class="modal-content">
                               <div class="modal-header text-center">
                                   <h5 class="modal-title text-center">
                                       <strong>Are you sure you want to Remove this Income?</strong>
                                       </h5>
                                           </div>
                                           <div class="modal-body text-wrap text-center">
                                               Once this is done, you will have to manually add it on the income page. It will no longer show up in future imports.
                                           </div>
                                           <div class="modal-footer d-flex justify-content-evenly">
                                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                   Cancel
                                                   </button>
                                                   <button 
                                                   asp-page-handler="RemoveIncome"
                                                   asp-route-pageNumber="@Model.PageNumber"
                                                   name="SelectedId" value="@income.Id" 
                                                   type="submit" class="btn btn-danger">DELETE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                   @*End Delete Modal*@
                   <button type="button" class="ms-2 me-1 py-0 my-0 icon-button" data-bs-toggle="modal" 
                                    data-bs-target="#refundModal-@income.Id">
                                      <i class="bi bi-bootstrap-reboot text-primary action-icon"></i>
                   </button>
                   @*Refund Modal*@
                   <div class="modal fade" id="refundModal-@income.Id">
                       <div class="modal-dialog" role="document">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <h5 class="modal-title w-100">
                                       <strong>Refund An Expense</strong>
                                       </h5>
                                           </div>
                                           <div class="modal-body text-wrap text-center">
                                               This will take you to a page where you can search for an expense to apply this refund to.
                                           </div>
                                           <div class="modal-footer d-flex justify-content-evenly">
                                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                   Cancel
                                                   </button>
                                                   @*This might not work*@
                                                   <button
                                                   name="IsRefund"
                                                   value=true
                                                   form="editIncomeReviewForm-@income.Id"
                                                   asp-page-handler="AddIncome"
                                                   type="submit" class="btn btn-primary">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                   @*End Split Expense Modal*@
                                </td>
                                </form>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 mx-auto">
                        @if (@Model.IncomeReviewResponse.TotalCount > 0)
                        {
                            var currentCount = Model.IncomeReviewResponse.PageNumber * @Model.IncomeReviewResponse.PageSize;
                            <span class="text-muted">@(Math.Min(currentCount, Model.IncomeReviewResponse.TotalCount)) of @Model.IncomeReviewResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                        @*Total amount went here. Something else can go here maybe?*@
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Import/Income",
                    IsExpensePage = false,
                    PageNumber = Model.IncomeReviewResponse.PageNumber,
                    TotalPages = Model.IncomeReviewResponse.TotalPages,
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
<script src="~/js/importIncome.js" asp-append-version="true"></script>
}