@page
@using CashTrack.Common;
@using CashTrack.Models.IncomeSourceModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Sources.IndexModel
@{
    ViewData["Title"] = "- Sources";
    Layout = "_Layout";
}
<div class="container-fluid">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = "No Income Sources Found!", MessageType = MessageType.Info, Show = Model.SourceResponse != null && Model.SourceResponse.TotalCount == 0 })
    <div class="row mb-1 d-flex justify-content-center">
        <div class="col-12 col-md-9 col-lg-6 mb-1 mb-md-0">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text rounded-0 rounded-start">Search</div>
                    </div>
                    <input id="QueryInput" data-val="true" asp-for="@Model.SearchTerm" type="text" class="form-control source-autosuggest-js">
                    <button class="btn btn-secondary rounded-end" type="submit" asp-route-pageNumber="1">
                        @await Html.PartialAsync("Icons", new Icons()
                        {
                            Icon = Icon.Search,
                            Color = IconColors.White,
                            Height=20,
                            Width=20,
                            Classes="mx-3"
                        })
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-auto col-md-3 col-lg-6 mb-md-0">
            <span class="validation-text" asp-validation-for="@Model.SearchTerm"></span>
            <button class="btn btn-primary float-end" id="addSourceButton" data-bs-toggle="modal" data-bs-target="#addSourceModal">Add Income Source</button>
            <div class="modal fade" id="addSourceModal">
                @await Html.PartialAsync("AddEditIncomeSourceModal", new AddEditIncomeSourceModal() { ReturnUrl = "/Sources/Index", IsEdit = false, SuggestOnLookup = true })
            </div>
        </div>
    </div>
    @if (Model.SourceResponse != null && Model.SourceResponse.ListItems.Count() > 0)
    {
        <div class="row mt-2">
            <div class="table-responsive table-sm">
                <table class="table table-bordered table-sm table-hover mb-3 shadow">
                    <thead>
                        <tr class="text-center table-primary">
                            <th>
                                Name
                            </th>
                            <th class="purchases-column">
                                Payments
                            </th>
                            <th class="amount-column">
                                Amount
                            </th>
                            <th class="last-purchase-column">
                                Last Payment
                            </th>
                            <th class="category-column">
                                Category
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SourceResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td width="20%">
                                    <a asp-page="./Detail" asp-route-id="@item.Id" class="table-link">@item.Name</a>
                                </td>
                                <td width="10%">
                                    <a asp-page="/Income/Index"
                                    asp-route-Query="6"
                                    asp-route-Q=@item.Name
                                    asp-route-pageNumber="1"
                                    class="table-link">
                                        @item.Payments
                                    </a>
                                </td>
                                <td width="15%">
                                    <a asp-page="/Expenses/Index"
                                    asp-route-Query="6"
                                    asp-route-Q=@item.Name
                                    asp-route-pageNumber="1"
                                    class="table-link">
                                    @String.Format("{0:n}", item.Amount)
                                    </a>
                                </td>
                                <td width="15%">
                                    @if (item.LastPayment != DateTime.MinValue)
                                    {
                                        <a asp-page="/Income/Index"
                                            asp-route-Query="0"
                                            asp-route-Q=@item.LastPayment.Date.ToString("yyyy-MM-dd")
                                            asp-route-pageNumber="1"
                                            class="table-link">
                                            @item.LastPayment.Date.ToShortDateString()
                                        </a>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </td>
                                <td width="15%">
                                    <a class="table-link" asp-page="/Income/Index"
                                    asp-route-Query="7"
                                    asp-route-Q=@item.CategoryId
                                    asp-route-pageNumber="1">
                                    @item.Category
                                    </a>
                                </td>
                                <td width="5%">
                                    <a asp-page="./Detail" asp-route-id="@item.Id" class="text-primary">
                                        @await Html.PartialAsync("Icons", new Icons()
                                            {
                                                Icon = Icon.ZoomIn,
                                                Color = IconColors.Primary,
                                                Height=20,
                                                Width=20,
                                                Classes="action-icon"
                                            })
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.SourceResponse.TotalCount > 0)
                        {
                            var currentCount = Model.SourceResponse.PageNumber * @Model.SourceResponse.PageSize;
                            <span class="text-muted" id="totalCount">@(Math.Min(currentCount, Model.SourceResponse.TotalCount)) of @Model.SourceResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Sources/Index",
                    IsExpensePage = false,
                    PageNumber = Model.SourceResponse.PageNumber,
                    TotalPages = Model.SourceResponse.TotalPages
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
<script src="~/js/sources.js" asp-append-version="true"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jqueryVal.js"></script>
    <script src="~/js/jqueryValUnob.js"></script>
}
