@page
@using CashTrack.Models.Common
@using CashTrack.Models.ExpenseModels
@using CashTrack.Models.SubCategoryModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Expenses.Index
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = "No Expenses Found!", MessageType = MessageType.Info, Show = Model.ExpenseResponse != null && Model.ExpenseResponse.TotalCount == 0 })

    <div class="row mb-1">
        <div class="col-xl-6 col-12 mb-1 mr-auto">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-block">
                        <div class="input-group-text">Search</div>
                    </div>
                    <select data-width="100%" asp-items="Model.QueryOptions" class="form-select text-center" id="querySelect" asp-for="Query">
                    </select>
                    <select id="categorySelect" data-width="100%" class="form-select text-center display-none" asp-for="@Model.Q">
                    </select>
                    <input id="qInput" data-val="true" asp-for="@Model.Q" type="@Model.InputType" class="form-control w-50 text-center">
                    <input id="q2Input" data-val="true" asp-for=@Model.Q2 type="date" class="form-control display-none">
                    <button class="btn btn-secondary rounded-end" type="submit" asp-route-pageNumber="1">
                        <i class="bi bi-search icon-size-md text-white mx-3" role="img"></i>
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-xl-3 col-6 px-xl-0 d-none d-sm-block">
            <div class="btn-group" role="group">
                <div class="input-group-prepend d-none d-md-block">
                    <div class="input-group-text">Current</div>
                </div>
                <a asp-page="./Index" asp-route-query="11" asp-route-pageNumber="@Model.PageNumber" class="btn btn-secondary">Month</a>
                <a asp-page="./Index" asp-route-query="12" asp-route-pageNumber="@Model.PageNumber" class="btn btn-secondary">Quarter</a>
                <a asp-page="./Index" asp-route-query="13" asp-route-pageNumber="@Model.PageNumber" class="btn btn-secondary">Year</a>
                <a asp-page="./Index" asp-route-query="14" asp-route-pageNumber="@Model.PageNumber" class="btn btn-secondary thirty-days-button">30 Days</a>
            </div>
        </div>
        <div class="col-3 col-xl-1 d-none d-sm-block">
            <span class="validation-text" asp-validation-for="@Model.Q"></span>
        </div>
        <div class="col-xs-12 col-xl-2 col-3 d-flex justify-content-md-between justify-content-xs-between me-xl-0">
            <button class="btn btn-primary text-wrap import-link" data-bs-toggle="modal" data-bs-target="#addExpenseModal" id="addExpenseButton">Add Expense</button>
        </div>
    </div>
    @* Add Expense Modal *@
    <div class="modal fade" id="addExpenseModal">
        @await Html.PartialAsync("_AddExpenseModal",
        new AddEditExpenseModal() {IsEdit = false, Returnurl = "./Index", SubCategoryList = new SelectList(Model.CategoryList, "Id", "Category"), Date= DateTime.Today, MainCategoryList = new SelectList(Model.MainCategoryList, "Id", "Category") });
    </div>
    @*End Add Expense Modal*@

    @if (Model.ExpenseResponse != null && Model.ExpenseResponse.TotalCount > 0)
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class="text-center table-primary">
                            <th width="10%">
                                Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="10%">
                                Merchant
                            </th>
                            <th width="10%">
                                Category
                            </th>
                            <th width="10%">
                                Main
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Model.ExpenseResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @expense.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    @String.Format("{0:n}", expense.Amount)
                                </td>
                                <td>
                                    <a class="text-black" asp-page="../Merchants/Detail" asp-route-id="@expense.MerchantId">@expense.Merchant</a>
                                </td>
                                <td>
                                    @expense.SubCategory

                                </td>
                                <td>
                                    @expense.MainCategory

                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(expense.RefundNotes) && !string.IsNullOrEmpty(expense.Notes))
                                    {
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-bootstrap-reboot text-primary action-icon" role="img"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@expense.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal() {
                                Title="Refund Notes", Message = expense.RefundNotes});
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(expense.RefundNotes))
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white action-icon visibility-hidden" role="img"></i>
                                        </button>
                                    }
                                    @if (!string.IsNullOrEmpty(expense.Notes))
                                    {
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#detailModal-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-primary action-icon" role="img"></i>
                                        </button>
                                        @*Begin Detail Modal*@
                                        <div class="modal fade" id="detailModal-@expense.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal()
                                { Title="Notes", Message = expense.Notes });
                                        </div>
                                        @*End Detail Modal*@
                                    }
                                    else if (string.IsNullOrEmpty(expense.Notes) && !string.IsNullOrEmpty(expense.RefundNotes))
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white action-icon visibility-hidden"></i>
                                        </button>
                                        <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#refundNotes-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-bootstrap-reboot text-primary action-icon"></i>
                                        </button>
                                        @*Begin Refund Notes Modal*@
                                        <div class="modal fade" id="refundNotes-@expense.Id">
                                            @await Html.PartialAsync("_ShortMessageModal", new _ShortMessageModal { Title="Refund Notes", Message = expense.RefundNotes})
                                        </div>
                                        @*End Refund Notes Modal*@
                                    }
                                    else
                                    {
                                        <button type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@expense.Id" class="icon-button pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white action-icon visibility-hidden"></i>
                                        </button>
                                    }
                                    <button type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editExpenseModal-@expense.Id"
                                    class="icon-button px-2 load-main-category-edit-modal-js">
                                        @*when the icon is clicked, even though the javascript is on the button itself, the data is pulled from the icon...*@
                                        <i class="bi bi-pencil text-primary action-icon" data-sub-category-id=@expense.SubCategoryId
                                   data-id=@expense.Id></i>
                                    </button>
                                    @* Edit Expense Modal *@

                                    <div class="modal fade" id="editExpenseModal-@expense.Id">
                                        @await Html.PartialAsync("_AddExpenseModal",
                                new AddEditExpenseModal() {
                                IsEdit = true,
                                Returnurl = "./Index",
                                SubCategoryId = expense.SubCategoryId,
                                SubCategoryList = new SelectList(Model.CategoryList, "Id", "Category",
                                expense.SubCategoryId),
                                Date=expense.Date,
                                Amount = expense.Amount,
                                ExcludeFromStatistics = expense.ExcludeFromStatistics,
                                Merchant = expense.Merchant,
                                Notes = expense.Notes,
                                Id = expense.Id });
                                    </div>

                                    @*End Edit Expense Modal*@
                                    <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@expense.Id" class="icon-button ps-2 ps-0 me-0">
                                        <i class="bi bi-trash text-primary action-icon"></i>
                                    </button>
                                    @*Delete Model*@
                                    <div class="modal fade" id="deleteModal-@expense.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-center">
                                                        <strong>Are you sure you want to Delete this Expense?</strong>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>

                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <form method="post"
                                                  asp-page="./Index"
                                                  asp-page-handler="Delete"
                                                  asp-route-expenseId="@expense.Id"
                                                  asp-route-query="@Model.Query"
                                                  asp-route-q="@Model.Q"
                                                  asp-route-q2="@Model.Q2"
                                                  asp-route-pageNumber="@Model.PageNumber">
                                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Delete Modal*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.ExpenseResponse.TotalCount > 0)
                        {
                            var currentCount = Model.ExpenseResponse.PageNumber * @Model.ExpenseResponse.PageSize;
                            <span class="text-muted" id="totalPages">
                                @(Math.Min(currentCount, Model.ExpenseResponse.TotalCount)) of @Model.ExpenseResponse.TotalCount
                            </span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                        @if (@Model.ExpenseResponse.TotalAmount > 0)
                        {
                            <div class="text-center">
                                <strong class="p-0 text-success" id="totalAmount">Total: $ @Model.ExpenseResponse.TotalAmount</strong>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel() {
                    PathLink = "../Expenses/Index",
                    IsExpensePage = true,
                    PageNumber = Model.ExpenseResponse.PageNumber,
                    TotalPages = Model.ExpenseResponse.TotalPages,
                    Query = Model.Query,
                    q = Model.Q,
                    q2 = Model.Q2
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
<script src="~/js/expenses.js" asp-append-version="true"></script>
}