@page
@using CashTrack.Models.Common
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Expenses.Index
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    @if (Model.Message != null)
    {
        <div style="position: relative;">
            <div class="toast fade show mt-3 bg-success" role="alert" id="toast" style="position: absolute; right: 40%; top: 0; z-index:1200;">

                <div class="toast-body d-flex justify-content-between align-items-center">
                    <i class="bi bi-hand-thumbs-up text-white mx-3" role="img"
                   style="font-size: 1.5rem;"></i>
                    @Model.Message
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-1">
        <div class="col-xl-6 col-12 mb-1 mr-auto">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-block">
                        <div class="input-group-text">Search</div>
                    </div>
                    <select data-width="100%" asp-items="Model.queryOptions" class="form-select text-center" id="querySelect" asp-for="query">
                    </select>
                    <select id="categorySelect" style="display: none;" data-width="100%" class="form-select text-center" asp-for="@Model.q">
                    </select>
                    <input id="qInput" data-val="true" asp-for="@Model.q" type="Model.inputType" class="form-control w-50 text-center">
                    <input id="q2Input" style="display: none;" data-val="true" asp-for=@Model.q2 type="date" class="form-control">
                    <button class="btn btn-secondary" type="submit" asp-route-pageNumber="1">
                        <i class="bi bi-search text-white mx-3" role="img"
                           style="font-size: 1rem;"></i>
                    </button>
                    <input type="hidden" asp-for="@Model.pageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-xl-3 col-6 px-xl-0 d-none d-sm-block">
            <div class="btn-group" role="group">
                <div class="input-group-prepend d-none d-md-block">
                    <div class="input-group-text">Current</div>
                </div>
                <a asp-page="./Index" asp-route-query="11" asp-route-pageNumber="@Model.pageNumber" type="button" class="btn btn-secondary">Month</a>
                <a asp-page="./Index" asp-route-query="12" asp-route-pageNumber="@Model.pageNumber" type="button" class="btn btn-secondary">Quarter</a>
                <a asp-page="./Index" asp-route-query="13" asp-route-pageNumber="@Model.pageNumber" type="button" class="btn btn-secondary">Year</a>
                <a asp-page="./Index" asp-route-query="14" asp-route-pageNumber="@Model.pageNumber" type="button" class="btn btn-secondary" style="height: 38px; overflow: hidden;">30 Days</a>
            </div>
        </div>
        <div class="col-4 col-xl-1">
            <span style="color: red;" asp-validation-for="@Model.q"></span>
        </div>
        <div class="col-xl-2 col-2 d-flex justify-content-end">
            <button class="btn btn-primary text-wrap" style="height: 38px;" data-bs-toggle="modal" data-bs-target="#addExpenseModal" id="addExpenseButton">Add Expense</button>
        </div>
    </div>
    @* Add Expense Modal *@
    <div class="modal fade" id="addExpenseModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100">Add an Expense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="post"
                              asp-page="./Index"
                              asp-page-handler="Add"
                              id="addExpenseForm">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="visually-hidden" asp-for="@Model.AddExpense.Date">Date</label>
                                    <div class="input-group">
                                        <div class="input-group-text text-center">Date</div>
                                        <input data-val="true" asp-for=@Model.AddExpense.Date type="date" class="form-control" id="addExpenseDate">
                                        <span asp-validation-for="@Model.AddExpense.Date"></span>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="visually-hidden" asp-for="@Model.AddExpense.Amount">Amount</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input data-val="true"
                                               asp-for=@Model.AddExpense.Amount type="number" min="0.00" step="any" class="form-control" id="addExpenseAmount" placeholder="0.00">
                                        <span asp-validation-for="@Model.AddExpense.Amount"></span>

                                    </div>
                                </div>
                                <div class="col-4 align-self-center border rounded py-1">
                                    <div class="form-check form-switch ">
                                        <label class="form-check-label" asp-for="AddExpense.ExcludeFromStatistics">Exclude From Statistics</label>
                                        <input class="form-check-input" type="checkbox" role="switch" id="addExpenseExcludeBool" data-val="true"
                                               asp-for="AddExpense.ExcludeFromStatistics" />
                                        <span asp-validation-for="@Model.AddExpense.ExcludeFromStatistics"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">Category</div>
                                        <label class="visually-hidden" asp-for="@Model.AddExpense.SubCategoryId">Category</label>
                                        <select data-val="true"
                                                asp-for=@Model.AddExpense.SubCategoryId
                                                class="form-control text-center"
                                                id="addExpenseSubCategory">
                                        </select>
                                        <div class="input-group-text">Main Category</div>
                                        <input disabled type="text" class="form-control text-center bg-white" id="addExpenseMainCategory" required />
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <a class="btn btn-secondary" type="button" asp-page="/SubCategory/Add">Add New Category</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-text">Merchant</div>
                                        <label class="visually-hidden" asp-for="MerchantName">Merchant</label>
                                        <input class="form-control" data-val="true" type="text" asp-for="MerchantName" id="addExpenseMerchantName" />
                                        <span asp-validation-for="@Model.MerchantName"></span>
                                    </div>
                                </div>
                                <div class="col-4 align-self-center border rounded py-1">
                                    <div class="form-check ">
                                        <label class="form-check-label" asp-for="CreateNewMerchant">Create New Merchant</label>
                                        <input class="form-check-input" type="checkbox" role="switch" id="addExpenseCreateNewMerchant"
                                               asp-for="CreateNewMerchant" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 px-1">
                                <label class="visually-hidden" asp-for="@Model.AddExpense.Notes"></label>
                                <textarea class="form-control" asp-for="@Model.AddExpense.Notes" id="addExpenseNotes" rows="3" placeholder="Notes"></textarea>
                                <span asp-validation-for="@Model.AddExpense.Notes"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-evenly">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form>
                        <button type="submit" class="btn btn-primary" form="addExpenseForm">Add New Expense</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*End Add Expense Modal*@
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-dismissible alert-danger offset-3 w-50 text-center mt-0" asp-validation-summary="All">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else if (Model.ExpenseResponse != null && Model.ExpenseResponse.TotalCount > 0)
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm mb-0">
                    <thead>
                        <tr class="text-center table-primary">
                            <th width="10%">
                                Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="10%">
                                Merchant
                            </th>
                            <th width="10%">
                                Category
                            </th>
                            <th width="10%">
                                Main
                            </th>
                            <th width="10%">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var expense in Model.ExpenseResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @expense.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    @expense.Amount

                                </td>
                                <td>
                                    @expense.Merchant

                                </td>
                                <td>
                                    @expense.SubCategory

                                </td>
                                <td>
                                    @expense.MainCategory

                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(expense.Notes))
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal"
                                    data-bs-target="#detailModal-@expense.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                        </button>
                                        @*Begin Detail Modal*@
                                        <div class="modal" id="detailModal-@expense.Id">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title w-100">Notes</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-wrap">
                                                        @expense.Notes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*End Detail Modal*@
                                    }
                                    else
                                    {
                                        <button style="background: none; padding: 0px; border: none;"
                                    type="button" data-bs-toggle="modal" disabled
                                    data-bs-target="#detailModal-@expense.Id" class="pe-2 ps-0 ms-0">
                                            <i class="bi bi-file-earmark-check text-white" role="img"
                                   style="font-size: 1.25rem; visibility: hidden;"></i>
                                        </button>
                                    }
                                    <button style="background: none; padding: 0px; border: none;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editModal-@expense.Id" class="px-2">
                                        <a asp-page="./Edit" asp-route-id="@expense.Id" asp-route-split=0>
                                            <i class="bi bi-pencil text-primary" role="img"
                                       style="font-size: 1.25rem;"></i>
                                        </a>
                                    </button>

                                    <button style="background: none; padding: 0px; border: none;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@expense.Id" class="ps-2 ps-0 me-0">
                                        <i class="bi bi-trash text-primary" role="img"
                                   style="font-size: 1.25rem;"></i>
                                    </button>
                                    @*Delete Model*@
                                    <div class="modal fade" id="deleteModal-@expense.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-center">
                                                        <strong>Are you sure you want to Delete this Expense?</strong>
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>

                                                <div class="modal-footer d-flex justify-content-evenly">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <form method="post"
                                                  asp-page="./Index"
                                                  asp-page-handler="Delete"
                                                  asp-route-expenseId="@expense.Id"
                                                  asp-route-query="@Model.query"
                                                  asp-route-q="@Model.q"
                                                  asp-route-q2="@Model.q2"
                                                  asp-route-pageNumber="@Model.pageNumber">
                                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*End Delete Modal*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.ExpenseResponse.TotalCount > 0)
                        {
                            var currentCount = Model.ExpenseResponse.PageNumber * @Model.ExpenseResponse.PageSize;
                            <span class="text-muted">@(Math.Min(currentCount, Model.ExpenseResponse.TotalCount)) of @Model.ExpenseResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                        @if (@Model.ExpenseResponse.TotalAmount > 0 && Model.Message == null)
                        {
                            <div class="text-center">
                                <strong class="p-0 text-success">Total: $ @Model.ExpenseResponse.TotalAmount</strong>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Expenses/Index",
                    IsExpensePage = true,
                    PageNumber = Model.ExpenseResponse.PageNumber,
                    TotalPages = Model.ExpenseResponse.TotalPages,
                    Query = Model.query,
                    q = Model.q,
                    q2 = Model.q2
                    })
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="position: relative;">
            <div class="toast fade show mt-3 bg-info" role="alert" id="noExpensesToast" style="position: absolute; right: 40%; top: 0; z-index:1200;">
                <div class="toast-body  d-flex justify-content-between align-items-center">
                <i class="bi bi-exclamation-circle text-white mx-3" role="img"
                   style="font-size: 1.5rem;"></i>
                <span style="font-size: 1.25rem;">No Expenses Found!</span><button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.js" asp-append-version="true">
</script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">

        const getQueries = () => {
        let queries = [], hash;
        let values = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (let i = 0; i < values.length; i++) {
            hash = values[i].split('=');
            queries.push(hash[0]);
            queries[hash[0]] = hash[1];
        }
        return queries;
    }

    $(document).ready(() => {
        //TODO:
        //Store subcategory and category values in state
        //and then use C# to access those values to set the "selected" option for qInput
        //see https://stackoverflow.com/questions/4599169/using-razor-within-javascript

        //super easy toast notification
        @if(Model.Message != null)
        {
            @:$("#toast").show().delay(2000).fadeOut();
        }
        @if(Model.ExpenseResponse == null || Model.ExpenseResponse.TotalCount == 0)
        {
            @:$("#noExpensesToast").show().delay(2000).fadeOut();
        }

        //When the query selection option changes
        $("#querySelect").change(() => {
            let selectListValue = $("#querySelect").val();
            handleQuerySelectChange(selectListValue);
        });

        function handleQuerySelectChange(selectListValue) {
            switch (selectListValue) {
                //date
                case "0":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "date");
                    break;
                //date range
                case "1":
                    resetCategorySelect();
                    resetNumbersForm();
                    $("#qInput").prop("type", "date");
                    $("#q2Input").show();
                    $("#qInput").removeClass("w-50");
                    $("#qInput").addClass("w-25");
                    $("#q2Input").addClass("w-25");
                    break;
                //month
                case "2":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "month");
                    break;
                //quarter
                case "3":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "month");
                    break;
                //year
                case "4":
                    resetCategorySelect();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "number");
                    $("#qInput").prop('min', "2012");
                    let currentYear = new Date().getFullYear();
                    $("#qInput").prop('max', currentYear);
                    $("#qInput").val(parseInt(new Date().getFullYear()));
                    break;
                //amount
                case "5":
                    resetCategorySelect();
                    resetSecondInputForm();
                    $("#qInput").val('');
                    $("#qInput").prop("type", "number");
                    $("#qInput").prop('step', "any");
                    $("#qInput").prop('min', "0.00");
                    break;
                //notes
                case "6":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "text");
                    break;
                //merchant
                case "7":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "text");
                    break;
                //sub category
                case "8":
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").hide();
                    $("#categorySelect").show();
                    $.ajax({
                        url: `/api/subcategory/all`,
                        method: 'GET'
                    }).then((response) => {
                        $("#categorySelect").empty();
                        for (let category of response) {
                            $("#categorySelect").append(`<option value=${category.id}>${category.name}</option>`);
                        }
                    }).catch((error) => alert(error));
                    break;
                //main category
                case "9":
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").hide();
                    $("#categorySelect").show();
                    $.ajax({
                        url: `/api/maincategory`,
                        method: 'GET'
                    }).then((response) => {
                        $("#categorySelect").empty();
                        for (let category of response.mainCategories) {
                            $("#categorySelect").append(`<option value=${category.id}>${category.name}</option>`);
                        }
                    }).catch((error) => alert(error));
                    break;
                //tags
                case "10":
                    resetCategorySelect();
                    resetNumbersForm();
                    resetSecondInputForm();
                    $("#qInput").prop("type", "text");
                    break;
                default:
                    resetSecondInputForm();
                    resetNumbersForm();
                    resetCategorySelect();
                    $("#qInput").prop("type", "date");
                    break;
            }
        }

        const resetSecondInputForm = () => {
            $("#qInput").addClass("w-50");
            $("#q2Input").val("");
            $("#q2Input").removeClass("w-25");
            $("#q2Input").hide();
        }
        const resetNumbersForm = () => {
            $("#qInput").removeAttr('min');
            $("#qInput").removeAttr('step');
            $("#qInput").removeAttr('min');
            $("#qInput").val('');
        }
        const resetCategorySelect = () => {
            $("#qInput").show();
            $("#categorySelect").empty();
            $("#categorySelect").hide();
        }

        //if it's a query of the amount, make it a nice loking decimal
        $('#qInput').change(() => {
            let selectListValue = $("#querySelect").val();
            if (selectListValue == "5") {
                let amount = $("#qInput").val();
                let rounded = Math.round(amount * 100) / 100;
                let finalNumber = rounded.toFixed(2);
                $("#qInput").val(finalNumber);
            }
        });

        //when adding a new expense amount, make it a nice loking decimal
        $('#addExpenseAmount').change(() => {
                let amount = $("#addExpenseAmount").val();
                let rounded = Math.round(amount * 100) / 100;
                let finalNumber = rounded.toFixed(2);
                $("#addExpenseAmount").val(finalNumber);
        });

        //if it's a query of the merchants, show a dropdown list of matching merchant names
        $("#qInput").on("input", () => {
            let selectListValue = $("#querySelect").val();
            if (selectListValue === "7") {
                let searchTerm = $("#qInput").val();
                $.ajax({
                    url: `/api/merchants/match?merchantName=${searchTerm}`,
                    method: 'GET'
                }).then((response) => {
                    $("#qInput").empty();
                    $("#qInput").autocomplete({ source: response });
                });
            }
        });

         $("#addExpenseMerchantName").on("input", () => {
             let merchantName = $("#addExpenseMerchantName").val();
             $.ajax({
                 url: `/api/merchants/match?merchantName=${merchantName}`,
                 method: 'GET'
             }).then((response) => {
                 console.log(response);
                 $("#addExpenseMerchantName").empty();
                 $("#addExpenseMerchantName").autocomplete({ source: response });
             });
        });

        const getQueries = () =>
        {
            let queries = [], hash;
            let values = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(let i = 0; i < values.length; i++)
            {
                hash = values[i].split('=');
                queries.push(hash[0]);
                queries[hash[0]] = hash[1];
            }
            return queries;
        }

        //on load
        let selectListValue = $("#querySelect").val();
        handleQuerySelectChange(selectListValue);

        //loads sub category list when add expense modal opens
        $("#addExpenseButton").click(() =>{
            $("#addExpenseMainCategory").val('');
            $.ajax({
                url: `/api/subcategory/all`,
                method: 'GET'
            }).then((response) => {
                $("#addExpenseSubCategory").empty();
                for (let category of response) {
                    $("#addExpenseSubCategory").append(`<option value=${category.id}>${category.name}</option>`);
                }});
        });
        //loads the main category after sub category is chosen on add expense modal
        $("#addExpenseSubCategory").change(()=>{
            let categoryId = $("#addExpenseSubCategory").val();
            $.ajax({
                url: `/api/maincategory/sub-category/${categoryId}`,
                method: 'GET'
            }).then((response) => {
                    $("#addExpenseMainCategory").prop(`value`, `${response}`);
                }).catch((error) => console.log(error));
        });

        $("#messageDismiss").click(() => location.reload());

    });
</script>
    }
