@page
@using CashTrack.Models.Common
@model CashTrack.Pages.Expenses.Index
@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <form method="get" id="queryForm">

        <div class="row mb-3 justify-content-center">

            <div class="col-6">
                <div class="input-group">
                    <select asp-for="query" asp-items="Html.GetEnumSelectList<QueryOptions>()" class="form-select text-center" id="querySelect">
                        
                    </select>
                    <input data-val="true" asp-for=@Model.q type="date" class="form-control w-50" id="queryInput">
                    <span asp-validation-for="q"></span>
                    <button class="btn btn-secondary" type="submit"><i class="bi bi-search text-white" role="img"
            style="font-size: 1rem;"
            ></i></button>
                </div>
            </div>
            <div class="col-6">
                <button class="btn-sm btn-secondary">Date Range</button>
                <button class="btn-sm btn-secondary">Current Month</button>
                <button class="btn-sm btn-secondary">Current Quarter</button>
                <button class="btn-sm btn-secondary">Current Year</button>
                <button class="btn-sm btn-secondary">Last 30 Days</button>
            </div>
        </div>
        <div class="alert alert-danger col-4 py-0 offset-4" asp-validation-summary="All">
        </div>
    </form>

    @*  style="background-color: red;"*@
    @if (Model.ExpenseResponse != null)
    {
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr class="text-center">
                            <th width="10%">
                                Purchase Date
                            </th>
                            <th width="10%">
                                Amount
                            </th>
                            <th width="15%">
                                Merchant
                            </th>
                            <th width="10%">
                                Sub Category
                            </th>
                            <th width="10%">
                                Main Category
                            </th>
                            <th width="15%">
                                Tags
                            </th>
                            <th width="20%">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var expense in Model.ExpenseResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @expense.Date.Date.ToShortDateString()
                                </td>
                                <td>
                                    @expense.Amount

                                </td>
                                <td>
                                    @expense.Merchant

                                </td>
                                <td>
                                    @expense.SubCategory

                                </td>
                                <td>
                                    @expense.MainCategory

                                </td>
                                <td>
                                    @foreach (var tag in expense.Tags)
                                    {
                                        <span>tag.TagName</span>

                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                @Model.ExpenseResponse.
                <li class="page-item"><a class="page-link" href="#">@Model.ExpenseResponse.PageNumber == 1 ? Model.ExpenseResponse.PageNumber : Model.ExpenseResponse.PageNumber -1 </a></li>
                <li class="page-item"><a class="page-link" href="#">@Model.ExpenseResponse.PageNumber</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("Hello Mitchell");
        $("#querySelect").change(() => {
            //let currentInputType = $("#queryInput").prop("type"); -- this selects the current input type
            let selectListValue = $("#querySelect").val();
            console.log(`This is the selected value: ${selectListValue}`);
            let inputType = ChangeInputType(selectListValue);
            console.log(`This is after the function ran ${inputType}`);
            $("#queryInput").prop("type", inputType);
            $("#queryInput").val("");
        });
    });

    const ChangeInputType = (option) => {
        console.log(`the parameter: ${option}`);
        if(option == ""){ return "date"; }
        let inputType="";
        switch(option){
            case "0":
                inputType = "date";
                break;
            case "1":
                inputType = "text";
                break;
            case "2":
                inputType = "text";
                break;
            case "3":
                inputType = "text";
                break;
            case "4":
                inputType = "text";
                break;
            case "5":
                inputType = "text";
                break;
        }
        return inputType;
    }
</script>