@page "{Id}"
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Expenses.SplitModel
@{
    ViewData["Title"] = "Split Expense | ";
    Layout = "_Layout";
}
<div class="container">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })

    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })

    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })

    <div class="d-flex justify-content-between align-items-center">
        <h3>Split an Expense</h3>
        <div class="border rounded px-2 py-1" id="totalBox">
            <h3>Total: <span id="total" data-original-total=@Model.Total>@Model.Total</span></h3>
        </div>
    </div>
    <hr />
    
    <form method="get">
        <input asp-for="@Model.ReturnUrl" type="hidden" />
        <div class="row">
            <div class="col-lg-6 col-12 order-lg-1 order-3">
                <div class="input-group">
                    <span class="input-group-text d-none d-sm-block">Date</span>
                    <input type="date"
                           class="form-control text-center bg-white"
                           disabled readonly asp-for=@Model.Date />
                    <span class="input-group-text d-none d-sm-block">Merchant</span>
                    <input type="text"
                           class="form-control text-center bg-white"
                           disabled readonly asp-for=@Model.Merchant />
                </div>
            </div>
            <div class="col-lg-3 col-6 order-lg-2 order-1">
                <div class="input-group">
                    <span class="input-group-text d-none d-sm-block"># of Expenses</span>
                    <select onchange="this.form.submit()"
                            class="form-control text-center"
                            id="splitOptionsSelect"
                            asp-for="@Model.Split" asp-items="@Model.SplitOptions"></select>
                </div>
            </div>
            <div class="col-lg-3 col-6 order-lg-3 order-2">
                <div class="input-group">
                    <span class="input-group-text d-none d-sm-block">Tax</span>
                    <input class="form-control text-center"
                           type="number"
                           min="0.00" step=".00001" asp-for="@Model.Tax" />
                    <button class="btn btn-secondary"
                            type="submit">
                        Change
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <form class="form-horizontal"
        method="post" 
        id="splitExpenseForm">
                <input asp-for="@Model.ReturnUrl" type="hidden" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover shadow">
                    <thead>
                        <tr class="text-center">
                            <th width="10%">
                                Amount
                            </th>
                            <th width="5%">
                                Taxed
                            </th>
                            <th width="10%">
                                Total
                            </th>
                            <th width="15%">
                                Category
                            </th>
                            <th width="10%">
                                Main Category
                            </th>
                            <th width="40%">
                                Notes
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i <= Model.Split - 1; i++)
                        {
                            <tr class="text-center">
                                <input type="hidden" asp-for="ExpenseSplits[i].Tax" value="@Model.Tax" id="taxAmount-@i">
                                <input type="hidden" asp-for="ExpenseSplits[i].Date" value="@Model.Date" id="date-@i">
                                <input type="hidden" asp-for="ExpenseSplits[i].Merchant" value="@Model.Merchant" id="merchant-@i">
                                <td>
                                    <input placeholder="0.00"
                                       class="form-control split-amount-js amount-100-wide"
                                       id="amount-@i" type="number" min="0.00" step="0.01"
                                       asp-for="ExpenseSplits[i].Amount"
                                       data-tax-amount="@Model.Tax" data-index="@i" />
                                    <span class="validation-text"
                                      asp-validation-for="ExpenseSplits[i].Amount"></span>
                                </td>
                                <td class="text-center">
                                    <div class="form-check d-flex justify-content-center">
                                        <input asp-for="ExpenseSplits[i].Taxed"
                                           class="form-check-input split-tax-js"
                                           data-index="@i" data-tax-amount="@Model.Tax"
                                           type="checkbox" id="isTaxed-@i">
                                    </div>
                                </td>
                                <td class="text-center total-amount-js" id="totalAmount-@i">
                                    0.00
                                </td>
                                <td>
                                    <select id="subCategory-@i"
                                        class="form-control text-center load-main-category-js"
                                        data-width="100%"
                                        data-sub-category-id=@Model.SubCategoryId data-index=@i
                                        asp-for="ExpenseSplits[i].SubCategoryId" asp-items="Model.SubCategories"></select>
                                </td>
                                <td id="mainCategory-@i" class="text-center">
                                </td>
                                <td>
                                    <input class="form-control mx-auto p-0"
                                       id="notes-@i" type="text"
                                       asp-for="ExpenseSplits[i].Notes" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="row">
        <form>
            <div class="col float-end">
                <a class="btn btn-secondary mx-5"
                   type="button" asp-page="./Index">
                    Cancel
                </a>
                <button id="submitButton" disabled type="submit" form="splitExpenseForm"
                        class="btn btn-primary">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
<script src="~/js/split.js" asp-append-version="true"></script>
}
