@page
@using CashTrack.Models.ExpenseModels;
@using CashTrack.Models.ImportCsvModels;
@using CashTrack.Models.IncomeCategoryModels;
@using CashTrack.Models.IncomeModels;
@using CashTrack.Models.IncomeSourceModels;
@using CashTrack.Models.MainCategoryModels;
@using CashTrack.Models.MerchantModels;
@using CashTrack.Models.SubCategoryModels;
@using CashTrack.Pages.Budget;
@using CashTrack.Pages.Shared;
@using System.Globalization;
@using System.Text.Json;
@model CashTrack.Pages.AllTimeModel
@{
    ViewData["Title"] = "- Dashboard";
    Layout = "_Layout";
    var incomeDataIsPresent = Model.SummaryResponse.SummaryTotals.Earned > 0;
    var expenseDataIsPresent = Model.SummaryResponse.SummaryTotals.Spent > 0;
    var incomeANDExpenseDataIsPresent = incomeDataIsPresent && expenseDataIsPresent;
    var incomeORExpenseDataIsPresent = incomeDataIsPresent || expenseDataIsPresent;
}

<div class="container-fluid">
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })
    <div class="row mt-2 border-bottom d-flex justify-content-between">
        <div class="d-flex col-auto align-self-center">
        <h3 class="me-2">
            All Time Summary
        </h3>
        </div>
        <div class="col-auto d-flex">
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary btn-height me-2 btn-text-overflow" type="button" data-bs-toggle="modal" data-bs-target="#expenseStats">View Details</button>
                <button class="btn btn-primary dropdown-toggle btn-height" type="button" data-bs-toggle="dropdown">Add</button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item text-center"
                                id="addExpenseButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addExpenseModal">
                            Expense
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item text-center"
                                id="addIncomeButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addIncomeModal">
                            Income
                        </button>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <button class="dropdown-item text-center"
                                id="addMerchantButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addMerchantModal">
                            Merchant
                        </button>
                    </li>
                    <li class="dropdown-item">
                        <button class="dropdown-item text-center"
                                id="addMerchantButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addSourceModal">
                            Income Source
                        </button>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <button class="dropdown-item text-center"
                                id="addIncomeCategoryButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addIncomeCategoryModal">
                            Income Category
                        </button>
                    </li>
                    <li class="dropdown-item">
                        <button class="dropdown-item text-center"
                                id="addSubCategoryButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addSubCategoryModal">
                            Expense Category
                        </button>
                    </li>
                    <li class="dropdown-item">
                        <button class="dropdown-item text-center"
                                id="addMainCategoryButton"
                                data-bs-toggle="modal"
                                data-bs-target="#addMainCategoryModal">
                            Main Category
                        </button>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <button class="dropdown-item text-center"
                                id="importCsvButton"
                                data-bs-toggle="modal"
                                data-bs-target="#importCsvModal">
                            Import Transactions
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        @if (!incomeORExpenseDataIsPresent)
        {
            <div class="d-flex justify-content-center col mt-4">
                <div class="alert alert-dismissible alert-warning col-auto text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h3 class="mb-4"><strong>You have no data available to display.</strong></h3>
                    <p>
                        Get started by
                        <button class="white-text-button" data-bs-toggle="modal" data-bs-target="#importCsvModal">Importing Data</button>,
                        or adding
                        <button class="white-text-button" data-bs-toggle="modal" data-bs-target="#addExpenseModal">Expenses</button> or
                        <button class="white-text-button" data-bs-toggle="modal" data-bs-target="#addIncomeModal">Income</button>.
                </p>
                </div>
            </div>
        }
        @if (incomeORExpenseDataIsPresent)
            {
            <div class="col-6 col-lg-3 mt-1 d-flex flex-column align-content-center">
                <ul class="list-group text-center mt-2 shadow flex-fill d-flex justify-content-between">
                        <li class="flex-fill list-group-item d-flex justify-content-between p-3">
                            <span class="d-none d-md-block">
                                Earned: &nbsp;
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @String.Format("{0:n}", Model.SummaryResponse.SummaryTotals.Earned)
                            </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Spent:
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @String.Format("{0:n}", Model.SummaryResponse.SummaryTotals.Spent)
                            </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Saved:
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @String.Format("{0:n}", Model.SummaryResponse.SummaryTotals.Saved)
                            </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Averaged Monthly Savings:
                            </span>
                                <span class="fw-bold responsive-text">
                                     @Model.SummaryResponse.SummaryTotals.AverageSavedPerMonth
                                </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Average Yearly Savings:
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @String.Format("{0:n}", Model.SummaryResponse.SummaryTotals.AverageSavedPerYear)
                            </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Expense Growth Per Year:
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @Model.SummaryResponse.SummaryTotals.ExpenseGrowthPerYear &#37;
                            </span>
                        </li>
                    <li class="flex-fill list-group-item d-flex justify-content-between pt-3 pb-2 px-3">
                            <span class="d-none d-md-block">
                                Income Growth Per Year:
                            </span>
                            <span class="fw-bold text-primary responsive-text">
                                @Model.SummaryResponse.SummaryTotals.IncomeGrowthPerYear &#37;
                            </span>
                        </li>
                    </ul>
                </div>
            }
        @if (incomeORExpenseDataIsPresent)
        {
            <div class="col-6 col-lg-3 d-flex">
                <canvas id="overallSummaryChart" class="shadow align-self-center chart-height pt-2"></canvas>
            </div>
        }
        @if(incomeANDExpenseDataIsPresent && Model.SummaryResponse.DataSpansMultipleYears)
        {
            <div class="col-12 col-lg-6 d-flex">
                <canvas id="percentChangesChart" class="chart-height shadow align-self-center"></canvas>
            </div>
        }
        else
        {
            <div class="d-flex flex-column col mt-4">
                <div class="alert alert-dismissible alert-info col-auto text-center align-self-center">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <h4 class="mb-2">
                        <p>More charts will show here</p> 
                        <p>once you have data that spans multiple years.</p>
                    </h4>
                </div>
            </div>
        }
    </div>
    @if (Model.SummaryResponse.DataSpansMultipleYears)
    {
    <div class="row mb-2">
        @if (incomeANDExpenseDataIsPresent)
        {
            <div class="col-12 col-lg-6 d-flex">
                <canvas id="savingsChart" class="chart-height shadow align-self-center"></canvas>
            </div>
        }
        @if (incomeORExpenseDataIsPresent)
        {
            <div class="col-12 col-lg-6 d-flex">
                <canvas id="incomeExpenseChart" class="chart-height shadow align-self-center"></canvas>
            </div>
        }
    </div>
    }
    @if (Model.SummaryResponse.DataSpansMultipleYears)
    {
    <div class="row mb-2">
        @if (incomeDataIsPresent)
        {
            <div class="col-12 col-lg-6 d-flex">
                <canvas id="incomeStatisticsChart" class="chart-height shadow align-self-center"></canvas>
            </div>
        }
        @if (expenseDataIsPresent)
        {
            <div class="col-12 col-lg-6 d-flex">
                <canvas id="expenseStatisticsChart" class="chart-height shadow align-self-center"></canvas>
            </div>
        }
    </div>
    }

    <div class="row gx-5">
        @if (expenseDataIsPresent)
        {
            <div class="col-12 col-lg-6 my-3">
                <div class="row shadow">
                    <div class="col-6 pie-stats">
                        <div class="d-flex justify-content-center">
                            <span class="mb-0 fw-bold d-none d-lg-block">Top Expenses</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="link-success float-end text-decoration-underline" asp-page="./Expenses/Index" asp-route-Query="4" asp-route-Q="@DateTime.Now.Year" asp-route-PageNumber="1">
                                View All
                        </a>
                        </div>
                <div class="table-responsive">
                    <table class="table table-sm align-middle text-center mb-0">
                        <thead class="p-0 m-0">
                            <tr>
                                <th class="p-0 m-0">
                                    Date
                                </th>
                                <th class="p-0 m-0">
                                    Amount
                                </th>
                                <th class="p-0 m-0">
                                    Category
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var expense in @Model.SummaryResponse.TopExpenses)
                            {
                                <tr>
                                    <td>
                                        @expense.Date
                                    </td>
                                    <td>
                                        @String.Format("{0:n}", expense.Amount)
                                    </td>
                                    <td>
                                        @expense.SubCategory
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
                @if (Model.SummaryResponse.SubCategoryPercentages != null && expenseDataIsPresent)
                {
                    <div class="col-6 d-flex">
                            <canvas id="subCategoryPie" class="chart-height align-self-center"></canvas>
                    </div>
                }
                </div>
            </div>
        }
        @if (expenseDataIsPresent)
        {
            <div class="col-12 col-lg-6 my-3">
                <div class="row shadow">
                    <div class="col-6 pie-stats">
                        <div class="d-flex justify-content-center">
                            <span class="mb-0 fw-bold d-none d-lg-block">Top Categories</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="link-success float-end text-decoration-underline" asp-page="./Expenses/Categories/Index" asp-route-Query="3" asp-route-Q2=true asp-route-PageNumber="1">
                                View All
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm align-middle text-center mb-0">
                                <thead class="p-0 m-0">
                                    <tr>
                                        <th class="p-0 m-0">
                                            Category
                                        </th>
                                        <th class="p-0 m-0">
                                            Amount
                                        </th>
                                        <th class="p-0 m-0">
                                            Count
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var expense in @Model.SummaryResponse.TopCategories)
                                    {
                                        <tr>
                                            <td>
                                                @expense.Name
                                            </td>
                                            <td>
                                                @String.Format("{0:n}", expense.Amount)
                                            </td>
                                            <td>
                                                @expense.Count
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model.SummaryResponse.MainCategoryPercentages != null && expenseDataIsPresent)
                    {
                        <div class="col-6 d-flex">
                            <canvas id="mainCategoryPie" class="chart-height align-self-center"></canvas>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="row gx-5">
        @if(Model.SummaryResponse.TopMerchants != null && expenseDataIsPresent)
        {
        <div class="col-12 col-lg-6 my-3">
            <div class="row shadow">
                    <div class="col-6 pie-stats">
                    <div class="d-flex justify-content-center">
                        <span class="mb-0 fw-bold d-none d-lg-block">Top Merchants</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="link-success float-end text-decoration-underline" asp-page="./Merchants/Index" asp-route-Query="3" asp-route-Q2=true asp-route-PageNumber="1">
                            View All
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm align-middle text-center mb-0">
                            <thead class="p-0 m-0">
                                <tr>
                                    <th class="p-0 m-0">
                                        Merchant
                                    </th>
                                    <th class="p-0 m-0">
                                        Amount
                                    </th>
                                    <th class="p-0 m-0">
                                        Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var expense in @Model.SummaryResponse.TopMerchants)
                                {
                                    <tr>
                                        <td>
                                            @expense.Name
                                        </td>
                                        <td>
                                            @String.Format("{0:n}", expense.Amount)
                                        </td>
                                        <td>
                                            @expense.Count
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.SummaryResponse.MerchantPercentages != null && expenseDataIsPresent)
                {
                    <div class="col-6 d-flex">
                            <canvas id="merchantPie" class="chart-height align-self-center"></canvas>
                    </div>
                }
            </div>
        </div>
        }
        @if (Model.SummaryResponse.TopSources != null && incomeDataIsPresent)
        {
            <div class="col-12 col-lg-6 my-3">
                <div class="row shadow">
                    <div class="col-6 pie-stats">
                        <div class="d-flex justify-content-center">
                            <span class="mb-0 fw-bold d-none d-lg-block">Top Income Sources</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="link-success float-end text-decoration-underline" asp-page="./Sources/Index" asp-route-PageNumber="1">
                                View All
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm align-middle text-center mb-0">
                                <thead class="p-0 m-0">
                                    <tr>
                                        <th class="p-0 m-0">
                                            Source
                                        </th>
                                        <th class="p-0 m-0">
                                            Amount
                                        </th>
                                        <th class="p-0 m-0">
                                            Count
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var expense in @Model.SummaryResponse.TopSources)
                                    {
                                        <tr>
                                            <td>
                                                @expense.Name
                                            </td>
                                            <td>
                                                @String.Format("{0:n}", expense.Amount)
                                            </td>
                                            <td>
                                                @expense.Count
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model.SummaryResponse.IncomeSourcePercentages != null && incomeDataIsPresent)
                    {
                        <div class="col-6 d-flex">
                            <canvas id="incomeSourcePie" class="chart-height align-self-center"></canvas>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
    <div class="row mb-3">
        @if (incomeORExpenseDataIsPresent && Model.SummaryResponse.DataSpansMultipleYears)
        {
            <div class="col d-flex">
                <canvas id="annualSummaryChart" class="chart-height align-self-center shadow"></canvas>
            </div>
        }
    </div>
</div>
@* Add Expense Modal *@
<div class="modal fade" id="addExpenseModal">
    @await Html.PartialAsync("AddEditExpenseModal",
    new AddEditExpenseModal() {
    IsEdit = false,
    ReturnUrl = "/AllTime",
    SubCategoryList = new SelectList(Model.SubCategoryList, "Id", "Category"),
    Date= DateTime.Today,
    MainCategoryList = new SelectList(Model.MainCategoryList, "Id", "Category"),
    PageNumber = 1,
    Query = 0,
    Q = "",
    Q2 = "",
    ShowAddCategoryButton = false
    });
</div>
@*End Add Expense Modal*@
@* Add Income Modal *@
<div class="modal fade" id="addIncomeModal">
    @await Html.PartialAsync("AddEditIncomeModal", new AddEditIncomeModal(){
    ReturnUrl = "/AllTime",
    IsEdit = false,
    CategoryList = new SelectList(Model.IncomeCategoryList, "Id", "Category"),
    Date= DateTime.Today,
    ShowAddCategoryButton = false,
    PageNumber = 1,
    Q = string.Empty,
    Query= 0
    });
</div>
@*End Add Income Modal*@
@*Add Merchant Modal*@
<div class="modal fade" id="addMerchantModal">
    @await Html.PartialAsync("AddEditMerchantModal", new AddEditMerchantModal() {
    ReturnUrl = "/AllTime",
    SuggestOnLookup = true,
    IsEdit = false
    })
</div>
@*EndAdd Merchant Modal*@
@*Add Income Source Modal*@
<div class="modal fade" id="addSourceModal">
    @await Html.PartialAsync("AddEditIncomeSourceModal", new AddEditIncomeSourceModal()
    {
    ReturnUrl = "/AllTime",
    IsEdit = false,
    SuggestOnLookup = true
    })
</div>
@*End Add Income Source Modal*@
@*Add Sub Category Modal*@
<div class="modal fade" id="addSubCategoryModal">
    @await Html.PartialAsync("AddEditSubCategoryModal", new AddEditSubCategoryModal()
    { ReturnUrl="~/AllTime",
    InUse=true,
    IsEdit=false,
    MainCategoryList=new SelectList(Model.MainCategoryList, "Id", "Category"),

    })
</div>
@*End Sub Category Modal*@
@*Add Main Category Modal*@
<div class="modal fade" id="addMainCategoryModal">
    @await Html.PartialAsync("AddEditMainCategoryModal", new AddEditMainCategoryModal() {
    ReturnUrl = "/AllTime",
    IsEdit = false});
</div>
@*EndAdd Main Category Modal*@
@*Add Income Category Modal*@
<div class="modal fade" id="addIncomeCategoryModal">
    @await Html.PartialAsync("AddEditIncomeCategoryModal",
    new AddEditIncomeCategoryModal() {
    ReturnUrl = "/AllTime",
    InUse = true,
    IsEdit = false,
    })
</div>
@*End Add Income Category Modal*@
@*Import Transactions Modal*@
<div class="modal fade" id="importCsvModal">
    @await Html.PartialAsync("ImportTransactionsModal", new ImportModel() { ReturnUrl = "/AllTime" })
</div>
@*End Import Transactions Modal*@
@await Html.PartialAsync("TransactionBreakdownModal", new TransactionBreakdownModal()
{
    Year = 0,
    Month= 0,
    Transactions = Model.SummaryResponse.TransactionBreakdown
})

@section Scripts {
    <script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.js"></script>
    @if (incomeORExpenseDataIsPresent)
    {
        @await Html.PartialAsync("OverallSummaryChart", new OverallSummaryChart()
    {
        ElementId = "overallSummaryChart",
        Title = "",
        Labels = JsonSerializer.Serialize(Model.SummaryResponse.OverallSummaryChart.Labels),
        BudgetedIncome = Model.SummaryResponse.OverallSummaryChart.BudgetedIncome,
        RealizedIncome = JsonSerializer.Serialize(Model.SummaryResponse.OverallSummaryChart.RealizedIncome),
        BudgetedExpenses = Model.SummaryResponse.OverallSummaryChart.BudgetedExpenses,
        RealizedExpenses = JsonSerializer.Serialize(Model.SummaryResponse.OverallSummaryChart.RealizedExpenses),
        BudgetedSavings = Model.SummaryResponse.OverallSummaryChart.BudgetedSavings,
        RealizedSavings = JsonSerializer.Serialize(Model.SummaryResponse.OverallSummaryChart.RealizedSavings)
    })
    }
    @if(incomeDataIsPresent)
    {
        @await Html.PartialAsync("_ChartPartial", new _ChartPartial()
    {
        ChartType = ChartType.LineMultiAxis,
        UseDefaultColor = true,
        ElementId = "incomeStatisticsChart",
        Labels = JsonSerializer.Serialize(Model.SummaryResponse.IncomeStatistics.Select(x => x.Year).ToArray()),
        Dataset = JsonSerializer.Serialize(Model.SummaryResponse.IncomeStatistics.Select(x => x.Count).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset2 = JsonSerializer.Serialize(Model.SummaryResponse.IncomeStatistics.Select(x => x.Average).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset3 = JsonSerializer.Serialize(Model.SummaryResponse.IncomeStatistics.Select(x => x.Min).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset4 = JsonSerializer.Serialize(Model.SummaryResponse.IncomeStatistics.Select(x => x.Max).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Title = "Annual Income Statistics",
        Responsive = true
    })
    }
    @if(expenseDataIsPresent)
    {
    @await Html.PartialAsync("_ChartPartial", new _ChartPartial()
    {
        ChartType = ChartType.LineMultiAxis,
        UseDefaultColor = true,
        ElementId = "expenseStatisticsChart",
        Labels = JsonSerializer.Serialize(Model.SummaryResponse.ExpenseStatistics.Select(x => x.Year).ToArray()),
        Dataset = JsonSerializer.Serialize(Model.SummaryResponse.ExpenseStatistics.Select(x => x.Count).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset2 = JsonSerializer.Serialize(Model.SummaryResponse.ExpenseStatistics.Select(x => x.Average).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset3 = JsonSerializer.Serialize(Model.SummaryResponse.ExpenseStatistics.Select(x => x.Min).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Dataset4 = JsonSerializer.Serialize(Model.SummaryResponse.ExpenseStatistics.Select(x => x.Max).ToArray()).Replace(int.MaxValue.ToString(), "NaN"),
        Title = "Annual Expense Statistics",
        Responsive = true
    })
    }
    @if (Model.SummaryResponse.SubCategoryPercentages != null && expenseDataIsPresent)
    {
        @await Html.PartialAsync("CategoryPieChart", new CategoryPieChart(JsonSerializer.Serialize(Model.SummaryResponse.SubCategoryPercentages.Select(x => x.Key).ToArray()))
    {
        ElementId = "subCategoryPie",
        Dataset = JsonSerializer.Serialize(Model.SummaryResponse.SubCategoryPercentages.Select(x => x.Value).ToArray()),
        Title = "Sub Category Percentages",
        IsSummaryChart = true
    })
    }
    @if (Model.SummaryResponse.MainCategoryPercentages != null && expenseDataIsPresent)
    {
        @await Html.PartialAsync("CategoryPieChart", new CategoryPieChart(JsonSerializer.Serialize(Model.SummaryResponse.MainCategoryPercentages.Select(x => x.Key).ToArray()))
        {
            ElementId = "mainCategoryPie",
            Dataset = JsonSerializer.Serialize(Model.SummaryResponse.MainCategoryPercentages.Select(x => x.Value).ToArray()),
            Title = "Main Category Percentages",
            IsSummaryChart = true
        })
    }
    @if (Model.SummaryResponse.SubCategoryPercentages != null && expenseDataIsPresent)
    {
        @await Html.PartialAsync("CategoryPieChart", new CategoryPieChart(JsonSerializer.Serialize(Model.SummaryResponse.MerchantPercentages.Select(x => x.Key).ToArray()))
        {
            ElementId = "merchantPie",
            Dataset = JsonSerializer.Serialize(Model.SummaryResponse.MerchantPercentages.Select(x => x.Value).ToArray()),
            Title = "Merchant Percentages",
            IsSummaryChart = true
        })
    }
    @if (Model.SummaryResponse.IncomeSourcePercentages != null && incomeDataIsPresent)
    {
        @await Html.PartialAsync("CategoryPieChart", new CategoryPieChart(JsonSerializer.Serialize(Model.SummaryResponse.IncomeSourcePercentages.Select(x => x.Key).ToArray()))
        {
            ElementId = "incomeSourcePie",
            Dataset = JsonSerializer.Serialize(Model.SummaryResponse.IncomeSourcePercentages.Select(x => x.Value).ToArray()),
            Title = "Income Category Percentages",
            IsSummaryChart = true
        })
    }
    @if (incomeORExpenseDataIsPresent)
    {
        @await Html.PartialAsync("AnnualMonthlySummaryChart", new AnnualMonthlySummaryChart()
        {
            IncomeDataset = Model.SummaryResponse.AnnualSummaryChart.IncomeDataset,
            ExpenseDataset = Model.SummaryResponse.AnnualSummaryChart.ExpenseDataset,
            SavingsDataset = Model.SummaryResponse.AnnualSummaryChart.SavingsDataset,
            ElementId = "annualSummaryChart",
            Title = "Summary By Year",
            Labels = Model.SummaryResponse.AnnualSummaryChart.Labels,
        })
    }
    @if (Model.SummaryResponse.SavingsChart != null && expenseDataIsPresent)
    {
        @await Html.PartialAsync("AllTimeSavingsChart", new AllTimeSavingsChart()
        {
            ElementId = "savingsChart",
            Dataset = Model.SummaryResponse.SavingsChart.SavingsDataset,
            Title = "Savings By Year",
            Labels = Model.SummaryResponse.SavingsChart.Labels,
        })
    }
    @if (incomeORExpenseDataIsPresent)
    {
        @await Html.PartialAsync("AllTimeIncomeExpenseChart", new AllTimeIncomeExpenseChart()
        {
            ElementId = "incomeExpenseChart",
            IncomeDataset = Model.SummaryResponse.IncomeExpenseChart.IncomeDataset,
            ExpenseDataset = Model.SummaryResponse.IncomeExpenseChart.ExpenseDataset,
            Title = "Income And Expenses",
            Labels = Model.SummaryResponse.IncomeExpenseChart.Labels,
        })
    }
    @if (incomeANDExpenseDataIsPresent)
    {
        @await Html.PartialAsync("AllTimePercentChangeChart", new AllTimePercentChangeChart()
        {
            ElementId = "percentChangesChart",
            IncomeDataset = Model.SummaryResponse.PercentChangesChart.IncomeDataset.Replace(decimal.MaxValue.ToString(), "NaN"),
            ExpenseDataset = Model.SummaryResponse.PercentChangesChart.ExpenseDataset.Replace(decimal.MaxValue.ToString(), "NaN"),
            SavingsDataset = Model.SummaryResponse.PercentChangesChart.SavingsDataset.Replace(decimal.MaxValue.ToString(), "NaN"),
            Title = "Percent Changes By Year",
            Labels = Model.SummaryResponse.PercentChangesChart.Labels,
        })
    }
}