@page
@using System.Globalization;
@using CashTrack.Common.Extensions;
@model CashTrack.Pages.PrintModel
@{
    var month = Model.Month > 0 ? @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.Month) : string.Empty;
    var title = Model.Year > 0 && !string.IsNullOrEmpty(month) ? @month + " " + Model.Year.ToString() : string.IsNullOrEmpty(month) && Model.Year > 0 ? Model.Year.ToString() : "All Time";
    Layout = "_Layout-Printable";
    ViewData["Title"] = title;
}

    @if (Model.Transactions != null && Model.Transactions.Any())
    {
        <div class="row d-flex justify-content-between">
            <div class="m-3 col-auto d-print-none">
            <button type="button" onclick="history.back()" class="btn btn-lg btn-secondary">GO BACK</button>
            </div>
            <div class="m-3 col-auto d-print-none">
            <button type="button" onclick="window.print()" class="btn btn-lg btn-primary">PRINT ME</button>
            </div>
        <table class="table-sm table-borderless border border-3 rounded-4 text-center">
            <tbody class="col">
            <tr>
                    <td colspan="4"><h4 class="text-center">@title Expense Breakdown</h4></td>
            </tr>
            @foreach (var budget in Model.Transactions)
            {
                @if (budget.IsMainCategory || budget.MainCategoryId >= int.MaxValue - 1)
                {
                    @if (budget.Category.IsEqualTo("Income"))
                    {
                        <tr class="border-top border-bottom border-3 rounded-4 mt-5 border border-end-0 border border-start-0">
                            <td colspan="4" class="text-center"><h4>Summary</h4></td>
                        </tr>
                    }
                    <tr class="border-top border-bottom border-3 rounded-4">
                        <td>
                            <h6 class="fw-bold">@budget.Category</h6>
                        </td>
                        <td class="border-end">
                            &nbsp;
                        </td>
                        <td class="border-end border-top">
                            @String.Format("{0:n}", budget.Amount)
                        </td>
                        <td class="border-top">
                            @if (budget.Percentage != 0)
                            {
                                <span>@budget.Percentage &#37;</span>
                            }
                        </td>
                    </tr>

                }
                else
                {
                    <tr class="border-end border-start">
                        <td>
                            &nbsp;
                        </td>
                        <td class="border-end">
                            @budget.Category
                        </td>
                        <td class="border-end border-top">
                            @String.Format("{0:n}", budget.Amount)
                        </td>
                        <td class="border-top">
                            @if (budget.Percentage != 0)
                                {
                                    <span>@budget.Percentage &#37;</span>
                                }
                                else if (budget.Percentage == 0)
                                {
                                <span>0.0 &#37;</span>    
                                }
                            </td>
                    </tr>
                }
            }
        </tbody>
        </table>
    </div>
}
else if (Model.Budgets != null && Model.Budgets.Any())
{
    <div class="row d-flex justify-content-between">
        <div class="m-3 col-auto d-print-none">
            <button type="button" onclick="history.back()" class="btn btn-lg btn-secondary">GO BACK</button>
        </div>
        <div class="m-3 col-auto d-print-none">
            <button type="button" onclick="window.print()" class="btn btn-lg btn-primary">PRINT ME</button>
        </div>
        <table class="table-sm table-borderless border border-3 rounded-4 text-center">
            <tbody class="col">
                <tr>
                    <td colspan="4"><h4 class="text-center">@title Expense Breakdown</h4></td>
                </tr>
                @foreach (var budget in Model.Budgets)
                {
                    @if (budget.IsMainCategory || budget.MainCategoryId >= int.MaxValue - 1)
                    {
                        @if (budget.Category.IsEqualTo("Income"))
                        {
                            <tr class="border-top border-bottom border-3 rounded-4 mt-5 border border-end-0 border border-start-0">
                                <td colspan="4" class="text-center"><h4>Summary</h4></td>
                            </tr>
                        }
                        <tr class="border-top border-bottom border-3 rounded-4">
                            <td>
                                <h6 class="fw-bold">@budget.Category</h6>
                            </td>
                            <td class="border-end">
                                &nbsp;
                            </td>
                            <td class="border-end border-top">
                                @String.Format("{0:n}", budget.Amount)
                            </td>
                            <td class="border-top">
                                @if (budget.Percentage != 0)
                                {
                                    <span>@budget.Percentage &#37;</span>
                                }
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr class="border-end border-start">
                            <td>
                                &nbsp;
                            </td>
                            <td class="border-end">
                                @budget.Category
                            </td>
                            <td class="border-end border-top">
                                @String.Format("{0:n}", budget.Amount)
                            </td>
                            <td class="border-top">
                                @if (budget.Percentage != 0)
                                {
                                    <span>@budget.Percentage &#37;</span>
                                }
                                else if (budget.Percentage == 0)
                                {
                                    <span>0.0 &#37;</span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <H4 class="text-center">No data is available yet.</H4>
}

