@page
@model CashTrack.Pages.Budget.AnnualModel
@using CashTrack.Models.BudgetModels
@using CashTrack.Pages.Shared;
@using System.Text.Json;
@{

}

<div class="container-fluid mb-0">

    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })

    @*NAV TABS*@
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a asp-page="./Annual"
               class="nav-link active">
                Annual
            </a>
        </li>
        <li class="nav-item">
            <a asp-page="./Monthly"
               class="nav-link">
                Monthly
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown">
                Add
            </a>
            <ul class="dropdown-menu">
                <li class="text-center">
                    <button class="dropdown-item fakelink text-center"
                            data-bs-toggle="modal"
                            data-bs-target="#addBudgetModal">
                        Add Budget
                    </button>
                </li>
                <li class="text-center">
                    <button class="dropdown-item fakelink text-center"
                            id="addSubCategory"
                            data-bs-toggle="modal"
                            data-bs-target="#addSubCategoryModal">
                        Add Category
                    </button>
                </li>
            </ul>
        </li>
    </ul>
    @*END NAV TABS*@
    <div class="modal fade" id="addBudgetModal">
        @await Html.PartialAsync("_AddBudgetModal", new AddBudgetAllocationModal()
        {
        SubCategoryList = new SelectList(Model.CategoryList, "Id", "Category"),
        Month = DateTime.Now.Month,
        Year = DateTime.Now.Year,
        Amount = 0,
        TimeSpan = AllocationTimeSpan.Month,
        Type = BudgetType.Need
        })
    </div>

    <div class="row mb-1">
        <div class="mt-2 d-flex justify-content-center">
            <form method="get" class="d-inline-flex">
                <div class="input-group">
                    <select data-val="true" onchange="this.form.submit()" asp-for=@Model.Year asp-items="@Model.YearSelectList" class="form-select text-center" id="annualBudgetYearSelection">
                        <option value="@Model.Year" selected disabled hidden></option>
                    </select>
                </div>
            </form>
        </div>
        @if (Model.BudgetPageResponse.AnnualBudgetChartData != null)
        {
            <div class="col">
                <canvas id="annualBudgetChart" class="chart-height"></canvas>
            </div>
        }
    </div>

    <div class="row mb-1">
        @if (Model.BudgetPageResponse.TypePercentages != null)
        {
            <div class="col-6 col-lg-3 mt-3">
                <ul class="list-group text-center">
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Income: &nbsp;
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.IncomeAmount)
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Expenses:
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.ExpensesAmount)
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Needs:
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.NeedsAmount)
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Wants:
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.WantsAmount)
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Savings:
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.SavingsAmount)
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="d-none d-md-block">
                            Unallocated:
                        </span>
                        <span class="fw-bold text-primary responsive-text">
                            @String.Format("{0:n}", Model.BudgetPageResponse.AnnualSummary.UnallocatedAmount)
                        </span>
                    </li>
                </ul>
            </div>
        }
        @if (Model.BudgetPageResponse.TypePercentages != null && Model.BudgetPageResponse.TypePercentages.Values.Sum() > 0)
        {
            <div class="col-6 col-lg-3 mt-3">
                <canvas id="typePercentagesDonut" class="chart-height"></canvas>
            </div>
        }
        @if (Model.BudgetPageResponse.SubCategoryPercentages != null && Model.BudgetPageResponse.SubCategoryPercentages.Values.Sum() > 0)
        {
            <div class="col-6 col-lg-3 mt-3">
                <canvas id="subCategoryPie" class="chart-height"></canvas>
            </div>
        }
    </div>

</div>

@section Scripts {
    <script src="~/js/budget.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_AnnualBudgetChart", new _AnnualBudgetChart()
    {
        ElementId = "annualBudgetChart",
        IncomeDataset = JsonSerializer.Serialize(Model.BudgetPageResponse.AnnualBudgetChartData.IncomeData),
        NeedDataset = JsonSerializer.Serialize(Model.BudgetPageResponse.AnnualBudgetChartData.NeedsData),
        WantDataset = JsonSerializer.Serialize(Model.BudgetPageResponse.AnnualBudgetChartData.WantsData),
        SavingsDataset = JsonSerializer.Serialize(Model.BudgetPageResponse.AnnualBudgetChartData.SavingsData),
        UnallocatedDataset = JsonSerializer.Serialize(Model.BudgetPageResponse.AnnualBudgetChartData.Unallocated),
        Title = DateTime.Now.Year.ToString()
    })
    @await Html.PartialAsync("_TypePercentagesDonut", new _TypePercentagesDonut()
    {
        ElementId = "typePercentagesDonut",
        Labels = JsonSerializer.Serialize(Model.BudgetPageResponse.TypePercentages.Select(x => x.Key).ToArray()),
        Dataset = JsonSerializer.Serialize(Model.BudgetPageResponse.TypePercentages.Select(x => x.Value).ToArray()),
        Title = "Type Percentages"
    })
    @await Html.PartialAsync("SubCategoryPieChart", new SubCategoryPieChart(JsonSerializer.Serialize(Model.BudgetPageResponse.SubCategoryPercentages.Select(x => x.Key).ToArray()))
    {
        ElementId = "subCategoryPie",
        Dataset = JsonSerializer.Serialize(Model.BudgetPageResponse.SubCategoryPercentages.Select(x => x.Value).ToArray()),
        Title = "Sub Category Percentages"
    })
}