@page "{id}"
@model CashTrack.Pages.Merchants.DetailModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div>@Model.Merchant.Id</div>
    <div>@Model.Merchant.Name</div>
    <div>@Model.Merchant.City</div>
    <div>@Model.Merchant.State</div>
    <div>@Model.Merchant.IsOnline</div>
    <div>@Model.Merchant.Notes</div>
    <div>@Model.Merchant.MostUsedCategory</div>
    <div>@Model.Merchant.SuggestOnLookup</div>
    <div>@Model.Merchant.PurchaseCategoryOccurances</div>
    <div>@Model.Merchant.AnnualExpenseStatistics</div>
    <div>@Model.Merchant.PurchaseCategoryTotals</div>
    <div>@Model.Merchant.RecentExpenses</div>
</div>