@page "{id}"
@model CashTrack.Pages.Merchants.DetailModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row align-items-center">
        <div class="order-1 col-10 col-md-5 d-flex align-content-center">
            <h3 class="fw-bold">@Model.Merchant.Name</h3>
            <div class="text-muted align-self-center ms-2 fst-italic">@Model.Merchant.MostUsedCategory</div>
        </div>
        <div class="order-3 order-md-2 col-4 col-md-2 d-flex justify-content-center text-decoration-underline">
            Month: &nbsp;<span class="fw-bold text-success">@Model.Merchant.ExpenseTotals.TotalSpentThisMonth</span>
        </div>
        <div class="order-4 order-md-3 col-4 col-md-2 d-flex justify-content-center text-decoration-underline">
            Year: &nbsp;<span class="fw-bold text-success">@Model.Merchant.ExpenseTotals.TotalSpentThisYear</span>
        </div>
        <div class="order-5 order-md-4 col-4 col-md-2 d-flex justify-content-center text-decoration-underline">
            Total: &nbsp;<span class="fw-bold text-success">@Model.Merchant.ExpenseTotals.TotalSpentAllTime</span>
        </div>
        <div class="col-2 col-md-1 order-2 order-md-5">
            @* TODO:Setup Edit Merchant Modal*@
            <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#editMerchantModal">
                Edit
            </button>
        </div>
    </div>
    <hr />
    <div class="container border">
        <div class="row">
            <div class="col-6">
                <div class="input-group mx-auto mt-3 w-75">
                <span class="input-group-text">Name</span>
                    <input type="text" class="form-control text-center" asp-for="@Model.Merchant.Name" disabled />
                </div>
                <div class="input-group mx-auto w-75">
                <span class="input-group-text">City &nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control text-center" asp-for="@Model.Merchant.City" disabled />
                </div>
                <div class="input-group mx-auto w-75">
                <span class="input-group-text">State&nbsp;</span>
                    <input type="text" class="form-control text-center" asp-for="@Model.Merchant.State" disabled />
                </div>
                <div class="input-group mx-auto w-75">
                <span class="input-group-text px-2">Online</span>
                @{var isOnlineText = Model.Merchant.IsOnline ? "Yes" : "No";}
                    <input type="text" class="form-control text-center" asp-for="@Model.Merchant.IsOnline" disabled value="@isOnlineText"/>
                </div>
            </div>
            <div class="col-6 mt-3 m-auto">
                <label asp-for="@Model.Merchant.Notes" class="form-label">Description</label>
                <textarea type="text" class="form-control" asp-for="@Model.Merchant.Notes" disabled rows="4"></textarea>
            </div>
            </div>
            <hr />
    </div>
</div>