@page
@using CashTrack.Common;
@using CashTrack.Models.Common
@using CashTrack.Models.MerchantModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Merchants.IndexModel
@{
    ViewData["Title"] = "- Merchants";
    Layout = "_Layout";
}
<div class="container-fluid">

    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info, Show = Model.InfoMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success, Show = Model.SuccessMessage != null })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger, Show = !ViewData.ModelState.IsValid })
    @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = "No Merchants Found!", MessageType = MessageType.Info, Show = Model.MerchantResponse != null && Model.MerchantResponse.TotalCount == 0 })

    <div class="row mb-1 d-flex justify-content-center">
        <div class="col-12 col-md-9 col-lg-6 mb-1 mb-md-0">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text rounded-0 rounded-start">Search</div>
                    </div>
                    <input id="QueryInput" data-val="true" asp-for="@Model.SearchTerm" type="text" class="form-control merchant-autosuggest-js">
                    <button class="btn btn-secondary rounded-end" type="submit" asp-route-pageNumber="1">
                        @await Html.PartialAsync("Icons", new Icons()
                        {
                            Icon = Icon.Search,
                            Color = IconColors.White,
                            Height=20,
                            Width=20,
                            Classes="mx-3"
                        })
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-auto col-md-3 col-lg-6 mb-md-0">
            <span asp-validation-for="@Model.SearchTerm"></span>
            <button class="btn btn-primary float-end" id="addMerchantButton" data-bs-toggle="modal" data-bs-target="#addMerchantModal">Add Merchant</button>
            <div class="modal fade" id="addMerchantModal">
                @await Html.PartialAsync("AddEditMerchantModal", new AddEditMerchantModal() { ReturnUrl = "/Merchants/Index", SuggestOnLookup = true, IsEdit = false })
            </div>
        </div>

    </div>
    @if (Model.MerchantResponse != null && Model.MerchantResponse.ListItems.Count() > 0)
    {
        <div class="row mt-2">
            <div class="table-responsive table-sm">
                <table class="table table-bordered table-sm table-hover mb-3 shadow">
                    <thead>
                        <tr class="text-center table-primary">
                            <th>
                                Name
                                <a asp-page="./Index" asp-route-Query="0" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == 0 && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="0" asp-route-Q2="false" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == 0 && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th class="location-column">
                                Location
                                <a asp-page="./Index" asp-route-Query="1" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == MerchantOrderBy.Location && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="1" asp-route-Q2="false" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == MerchantOrderBy.Location && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th class="purchases-column">
                                Purchases
                                <a asp-page="./Index" asp-route-Query="2" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == MerchantOrderBy.Purchases && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="2" asp-route-Q2="false" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == MerchantOrderBy.Purchases && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th class="amount-column">
                                Amount
                                <a asp-page="./Index" asp-route-Query="3" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == MerchantOrderBy.Amount && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="3" asp-route-Q2="false" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == MerchantOrderBy.Amount && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th class="last-purchase-column">
                                Last Purchase
                                <a asp-page="./Index" asp-route-Query="4" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == MerchantOrderBy.LastPurchase && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="4" asp-route-Q2="false" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == MerchantOrderBy.LastPurchase && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th class="category-column">
                                Category
                                <a asp-page="./Index" asp-route-Query="5" asp-route-Q2="true" class="icon-button float-end ">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowUp,
                                        Color = Model.Query == MerchantOrderBy.Category && Model.Q2 == true ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes="color-svg-on-hover"
                                    })
                                </a>
                                <a asp-page="./Index" asp-route-Query="5" asp-route-Q2="false" class="icon-button float-end">
                                    @await Html.PartialAsync("Icons", new Icons()
                                    {
                                        Icon = Icon.ArrowDown,
                                        Color = Model.Query == MerchantOrderBy.Category && Model.Q2 == false ? IconColors.Success : IconColors.White,
                                        Height=19,
                                        Width=16,
                                        Classes=$"color-svg-on-hover"
                                    })
                                </a>
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MerchantResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td width="20%">
                                    <a asp-page="./Detail" asp-route-id="@item.Id" class="table-link">@item.Name</a>
                                </td>
                                <td width="15%">
                                    @item.Location
                                </td>
                                <td width="10%">
                                    <a asp-page="/Expenses/Index"
                                    asp-route-Query="7"
                                    asp-route-Q=@item.Name
                                    asp-route-pageNumber="1"
                                    class="table-link">
                                        @item.NumberOfExpenses
                                    </a>
                                </td>
                                <td width="20%">
                                    <a asp-page="/Expenses/Index"
                                    asp-route-Query="7"
                                    asp-route-Q=@item.Name
                                    asp-route-pageNumber="1"
                                    class="table-link">
                                        @String.Format("{0:n}", item.TotalSpent)
                                    </a>
                                </td>
                                <td width="15%">
                                    @if (item.LastPurchase != DateTime.MinValue)
                                    {
                                        <a asp-page="/Expenses/Index"
                                    asp-route-Query="0"
                                    asp-route-Q=@item.LastPurchase.Date.ToString("yyyy-MM-dd")
                                    asp-route-pageNumber="1"
                                    class="table-link">
                                            @item.LastPurchase.Date.ToShortDateString()
                                        </a>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </td>
                                <td width="15%">
                                    <a asp-page="/Expenses/Categories/Detail"
                                        asp-route-id="@item.Id"
                                        class="table-link">
                                        @item.Category
                                    </a>
                                </td>
                                <td width="5%">
                                    <a asp-page="./Detail" asp-route-id="@item.Id" class="text-primary">
                                        @await Html.PartialAsync("Icons", new Icons()
                                            {
                                                Icon = Icon.ZoomIn,
                                                Color = IconColors.Primary,
                                                Height=20,
                                                Width=20,
                                                Classes="action-icon"
                                            })
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.MerchantResponse.TotalCount > 0)
                        {
                            var currentCount = Model.MerchantResponse.PageNumber * @Model.MerchantResponse.PageSize;
                            <span class="text-muted" id="totalCount">@(Math.Min(currentCount, Model.MerchantResponse.TotalCount)) of @Model.MerchantResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Merchants/Index",
                    IsExpensePage = false,
                    PageNumber = Model.MerchantResponse.PageNumber,
                    TotalPages = Model.MerchantResponse.TotalPages,
                    Query = (int)Model.Query,
                    q2 = Model.Q2.ToString()
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/merchants.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jqueryVal.js"></script>
    <script src="~/js/jqueryValUnob.js"></script>
}
