@page
@using CashTrack.Models.MerchantModels
@using CashTrack.Pages.Shared
@model CashTrack.Pages.Merchants.IndexModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    @if (Model.InfoMessage != null)
    {
        @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.InfoMessage, MessageType = MessageType.Info })
        ;
    }
    @if (Model.SuccessMessage != null)
    {
        @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() { Message = Model.SuccessMessage, MessageType = MessageType.Success })
        ;
    }
    @if (!ViewData.ModelState.IsValid)
    {
        @await Html.PartialAsync("_MessagePartial",
    new _MessagePartial() {MessageType = MessageType.Danger })
        ;
    }
    <div class="row mb-1">
        <div class="col-4">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Search</div>
                    </div>
                    <input id="QueryInput" data-val="true" asp-for="@Model.SearchTerm" type="text" class="form-control">
                    <button class="btn btn-secondary rounded-end" type="submit" asp-route-pageNumber="1">
                        <i class="bi bi-search text-white mx-3" role="img"
                           style="font-size: 1rem;"></i>
                    </button>
                    <input type="hidden" asp-for="@Model.PageNumber" value="1" />
                </div>
            </form>
        </div>
        <div class="col-4">
            <span style="color: red;" asp-validation-for="@Model.SearchTerm"></span>
        </div>
        <div class="col-4">
            <button class="btn btn-primary float-end" id="addMerchantButton" data-bs-toggle="modal" data-bs-target="#addMerchantModal">Add Merchant</button>
            <div class="modal fade" id="addMerchantModal">
                @await Html.PartialAsync("_AddMerchantPartial", new AddMerchantModal() { Returnurl = "~/Merchants/Index", SuggestOnLookup = true })
            </div>
        </div>
    </div>
    @if (Model.MerchantResponse != null && Model.MerchantResponse.ListItems.Count() > 0)
    {
        <div class="row mt-2">
            <div class="table-responsive table-sm">
                <table class="table table-bordered table-sm table-hover mb-0">
                    <thead>
                        <tr class="text-center table-primary">
                            <th>
                                Name
                                <a asp-page="./Index" asp-route-Query="0" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="0" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                            <th>
                                Location
                                <a asp-page="./Index" asp-route-Query="1" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="1" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                            <th>
                                Purchases
                                <a asp-page="./Index" asp-route-Query="2" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="2" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                            <th>
                                Amount
                                <a asp-page="./Index" asp-route-Query="3" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="3" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                            <th>
                                Last Purchase
                                <a asp-page="./Index" asp-route-Query="4" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="4" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                            <th>
                                Category
                                <a asp-page="./Index" asp-route-Query="5" asp-route-Q2="true" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-up text-white" style="font-size: 1rem;"></i>
                                </a>
                                <a asp-page="./Index" asp-route-Query="5" asp-route-Q2="false" class="iconButton float-end orderIcon">
                                    <i class="bi bi-arrow-down text-white" style="font-size: 1rem;"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MerchantResponse.ListItems)
                        {
                            <tr class="text-center">
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Location
                                </td>
                                <td>
                                    @item.NumberOfExpenses
                                </td>
                                <td>
                                    @item.TotalSpent
                                </td>
                                <td>
                                    @item.LastPurchase.Date.ToShortDateString()
                                </td>
                                <td>
                                    @item.Category
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row my-1">
                    <div class="col-sm-6 col-lg-2 col-xl-2 m-auto">
                        @if (@Model.MerchantResponse.TotalCount > 0)
                        {
                            var currentCount = Model.MerchantResponse.PageNumber * @Model.MerchantResponse.PageSize;
                            <span class="text-muted">@(Math.Min(currentCount, Model.MerchantResponse.TotalCount)) of @Model.MerchantResponse.TotalCount</span>
                        }
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 m-auto">
                    </div>
                    <div class="col-sm-12 col-lg-6 col-xl-4 my-0 py-0 gy-0">
                        @await Html.PartialAsync("_PaginationPartial",
                    new _PaginationPartialModel {
                    PathLink = "../Merchants/Index",
                    IsExpensePage = false,
                    PageNumber = Model.MerchantResponse.PageNumber,
                    TotalPages = Model.MerchantResponse.TotalPages,
                    Query = (int)Model.Query,
                    q2 = Model.Q2.ToString()
                    })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.js" asp-append-version="true">
</script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">

    $(document).ready(() => {

        //toast notification
        @if(Model.InfoMessage != null)
        {
            @:$("#info-toast").show().delay(2000).fadeOut();
        }
        @if(Model.SuccessMessage != null)
        {
            @:$("#success-toast").show().delay(2000).fadeOut();
        }
        @if(!ModelState.IsValid)
        {
            @:$("#danger-toast").show().delay(4000).fadeOut();
        }

        //show a dropdown list of matching merchant names
        $("#QueryInput").on("input", () => {
            let searchTerm = $("#QueryInput").val();
            $.ajax({
                url: `/api/merchants?merchantName=${searchTerm}`,
                method: 'GET'
            }).then((response) => {
                $("#QueryInput").empty();
                $("#QueryInput").autocomplete({ source: response });
            }).catch((error) => console.log(error));
        });
    });
</script>
    }
