@model CashTrack.Models.MerchantModels.AddMerchantModal

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title w-100">Add a New Merchant</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="post"
                      asp-page="../Merchants/Index"
                      asp-page-handler="AddMerchant"
                      id="addMerchantForm">
                    <input asp-for="@Model.Returnurl" type="hidden" />
                    <div class="row mb-3">
                        <div class="col-4">
                            <label class="visually-hidden" asp-for="@Model.Name">Name</label>
                            <div class="input-group">
                                <div class="input-group-text text-center">Name</div>
                                <input data-val="true" asp-for=@Model.Name type="text" class="form-control" id="addMerchantName">
                                <span asp-validation-for="@Model.Name"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="visually-hidden" asp-for="@Model.City">City</label>
                            <div class="input-group">
                                <div class="input-group-text">City</div>
                                <input data-val="true"
                                       asp-for=@Model.City type="text" class="form-control" id="addMerchantCity">
                                <span asp-validation-for="@Model.City"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="visually-hidden" asp-for="@Model.State">State</label>
                            <div class="input-group">
                                <div class="input-group-text">State</div>
                                <input data-val="true"
                                       asp-for=@Model.State type="text" class="form-control" id="addMerchantState">
                                <span asp-validation-for="@Model.State"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 align-self-center border rounded py-1">
                            <div class="form-check form-switch ">
                                <label class="form-check-label" asp-for="@Model.IsOnline">Online</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="addMerchantIsOnline" data-val="true"
                                       asp-for="@Model.IsOnline" />
                                <span asp-validation-for="@Model.IsOnline"></span>
                            </div>
                        </div>
                        <div class="col-4 align-self-center border rounded py-1">
                            <div class="form-check form-switch ">
                                <label class="form-check-label" asp-for="@Model.SuggestOnLookup">Active</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="addMerchantSuggestOnLookup" data-val="true"
                                       asp-for="@Model.SuggestOnLookup" />
                                <span asp-validation-for="@Model.SuggestOnLookup"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 px-1">
                        <label class="visually-hidden" asp-for="@Model.Notes"></label>
                        <textarea class="form-control" asp-for="@Model.Notes" id="addMerchantNotes" rows="3" placeholder="Notes"></textarea>
                    </div>
                    <span style="color: red;" asp-validation-for="@Model.Notes"></span>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form>
                <button type="submit" class="btn btn-primary" form="addMerchantForm">Add New Merchant</button>
            </form>
        </div>
    </div>
</div>