@using CashTrack.Models.ImportRuleModels
@model CashTrack.Models.ImportRuleModels.AddEditImportRuleModal
@{
    var addOrEdit = Model.IsEdit ? "Edit" : "Add";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title w-100 text-center">@addOrEdit an Import Rule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
                <form method="post"
                      asp-page="/Import/Rules"
                      asp-page-handler="AddEditImportRuleModal"
                      id="addEditImportRuleModalForm"
                      class="container"
                >
                    @if (Model.IsEdit)
                    {
                        <input asp-for="@Model.Id" type="hidden" />
                    }
                    <input asp-for="@Model.IsEdit" type="hidden" />
                    <input asp-for="@Model.Returnurl" type="hidden" />
                <div class="row row-cols-3 justify-content-center mb-3">
                        <div class="col">
                            <div class="text-center fw-bold">
                                Rule Type
                            </div>
                            @foreach (var rule in System.Enum.GetValues(typeof(RuleType)))
                            {
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RuleType">@rule.ToString()</label>
                                    <input type="radio"
                                       class="form-check-input filter-rule-radio-js"
                                       asp-for="RuleType"
                                       value=@((int)rule)
                                       checked="@((int)rule == (int)Model.RuleType)" />
                                </div>
                            }
                        </div>
                    <div class="col">
                            <div class="text-center fw-bold">
                                Transaction Type
                            </div>
                            @foreach (var transactionType in System.Enum.GetValues(typeof(TransactionType)))
                            {
                            <div class="form-check">
                                    <label class="form-check-label"
                                   asp-for="TransactionType">
                                        @transactionType.ToString()
                                        </label>
                                    <input type="radio"
                                   class="form-check-input transaction-type-radio-js"
                                       asp-for="TransactionType"
                                       value=@((int)transactionType)
                                       checked="@((int)transactionType == (int)Model.TransactionType)" />
                                </div>
                            }
                        </div>
                    <div class="col">
                            <div class="text-center fw-bold">
                                File Type
                            </div>
                        <div class="row row-cols-auto">
                            @foreach (var fileType in System.Enum.GetValues(typeof(CsvFileType)))
                            {
                                <div class="form-check col mx-3">
                                    <label class="form-check-label" asp-for="FileType">@fileType.ToString()</label>
                                    <input type="radio"
                                       class="form-check-input"
                                       asp-for="FileType"
                                       value=@((int)fileType)
                                       checked="@((int)fileType == (int)Model.FileType)" />
                                </div>
                            }
                        </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold"
                                   asp-for="@Model.Rule">
                                Text found in the transaction notes that is used to execute the assignment or filter:
                            </label>
                            <textarea data-val="true"
                                      asp-for=@Model.Rule
                                      type="text"
                                      class="form-control" rows="2">
                            </textarea>
                            <span asp-validation-for="@Model.Rule"></span>
                        </div>
                    </div>
                <div class="row mb-3 filter-rule-hides-this-js">
                        <div class="col d-flex">
                            <div class="input-group">
                                <div class="input-group-text">Category</div>
                                <label class="visually-hidden" asp-for="@Model.CategoryId">Category</label>
                            @{
                                var categoryList = Model.TransactionType == TransactionType.Expense ?
                                    Model.SubCategoryList : Model.IncomeCategoryList;
                                var categorySelectListId = Model.IsEdit ? 
                                $"categorySelectList-{Model.Id}" : "categorySelectList";
                            }
                                <select class="form-select text-center"
                                        asp-for=@Model.CategoryId
                                        asp-items=categoryList
                                    id=@categorySelectListId>
                                    @if (!Model.IsEdit)
                                    {
                                        <option value="" selected disabled hidden>Select</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="row mb-3 filter-rule-hides-this-js">
                        <div class="col d-flex">
                            <div class="input-group">
                                <div class="input-group-text" id="merchantSourceLabel">@((int)Model.TransactionType == 0 ? "Merchant" : "Source")</div>
                                <label class="visually-hidden" asp-for="@Model.MerchantSourceId">MerchantSource</label>
                                @{
                                    var merchantSourceList = Model.TransactionType == TransactionType.Expense ?
                                    Model.MerchantList : Model.SourceList;
                                    var merchantSourceSelectListId = Model.IsEdit ?
                                $"merchantSourceSelectList-{Model.Id}" : "merchantSourceSelectList";
                                }
                                <select asp-for=@Model.MerchantSourceId
                                        asp-items=merchantSourceList
                                        class="form-select text-center"
                                    id="@merchantSourceSelectListId">
                                    @if (!Model.IsEdit)
                                    {
                                        <option value="" selected disabled hidden>Select</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form>
                <button type="submit" class="btn btn-primary" form="addEditImportRuleModalForm">Save</button>
            </form>
        </div>
    </div>
</div>