@using CashTrack.Models.ImportRuleModels
@model CashTrack.Models.ImportRuleModels.AddEditImportRuleModal
@{
    var addOrEdit = Model.IsEdit ? "Edit" : "Add";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title w-100">@addOrEdit an Import Rule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="post"
                      asp-page="/Import/Rules"
                      asp-page-handler="AddEditImportRuleModal"
                      id="addEditImportRuleModalForm">
                    @if (Model.IsEdit)
                    {
                        <input asp-for="@Model.Id" type="hidden" />
                    }
                    <input asp-for="@Model.IsEdit" type="hidden" />
                    <input asp-for="@Model.Returnurl" type="hidden" />
                    <div class="row mb-3">
                        <div class="col d-flex">
                            <div class="input-group-text">
                                Rule Type
                            </div>
                            <label class="visually-hidden" asp-for="@Model.RuleType"></label>
                            <select 
                                asp-for="@Model.RuleType" 
                                asp-items="Html.GetEnumSelectList<RuleType>()" 
                                    class="form-select text-center">
                            </select>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex">
                            <div class="input-group-text">
                                Transaction Type
                            </div>
                            <label class="visually-hidden" asp-for="@Model.TransactionType"></label>
                            <select 
                                asp-for="@Model.TransactionType"
                                asp-items="Html.GetEnumSelectList<TransactionType>()" 
                                class="form-select text-center">
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex">
                            <div class="input-group-text">
                                File Type
                            </div>
                            <label 
                                class="visually-hidden" 
                                asp-for="@Model.FileType">
                            </label>
                            <select 
                                asp-for="@Model.FileType"
                                    asp-items="Html.GetEnumSelectList<CsvFileType>()"
                                    class="form-select text-center">
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                        <label 
                            class="form-label" 
                            asp-for="@Model.Rule">
                            Rule
                        </label>
                            <textarea 
                                data-val="true" 
                                asp-for=@Model.Rule 
                                type="text"
                                class="form-control" rows="2">
                            </textarea>
                            <span asp-validation-for="@Model.Rule"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-flex">
                            <div class="input-group">
                                <div class="input-group-text">Category</div>
                                <label class="visually-hidden" asp-for="@Model.CategoryId">Category</label>
                                @{
                                    var categoryList = Model.TransactionType == TransactionType.Expense ?
                                    Model.SubCategoryList : Model.IncomeCategoryList;
                                    }
                                    <select class="form-select text-center"
                                        asp-for=@Model.CategoryId 
                                        asp-items=categoryList>
                                        @if (!Model.IsEdit)
                                        {
                                            <option value="" selected disabled hidden>Select</option>
                                        } 
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="row mb-3">
                        <div class="col d-flex">
                            <div class="input-group"> 
                                <div class="input-group-text" id="merchantSourceLabel">Merchant</div>
                                <label class="visually-hidden" asp-for="@Model.MerchantSourceId">MerchantSource</label>
                                @{
                                    var merchantSourceList = Model.TransactionType == TransactionType.Expense ?
                                    Model.MerchantList : Model.SourceList;
                                }
                                <select 
                                    asp-for=@Model.MerchantSourceId
                                    asp-items=merchantSourceList
                                        class="form-select text-center">
                                    @if (!Model.IsEdit)
                                    {
                                        <option value="" selected disabled hidden>Select</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form>
                <button type="submit" class="btn btn-primary" form="addEditImportRuleModalForm">Save</button>
            </form>
        </div>
    </div>
</div>