@using CashTrack.Common;
@model CashTrack.Models.IncomeSourceModels.AddEditIncomeSourceModal
@{
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
            @{
                var addOrEdit = Model.IsEdit ? "Edit" : "Add";
            }
            <h5 class="modal-title w-100">@addOrEdit Income Source</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="post"
                      asp-page="/Sources/Index"
                      asp-page-handler="AddEditIncomeSourceModal"
                      id="addIncomeSourceForm">
                    <input asp-for="@Model.IsEdit" type="hidden" />
                    <input asp-for="@Model.ReturnUrl" type="hidden" />
                    @if (Model.IsEdit)
                    {
                        <input asp-for="@Model.Id" type="hidden" />
                    }
                    <div class="row mb-2 d-flex justify-content-center">
                        <div class="col-12 col-lg-8 mb-1 mb-lg-0">
                            <label class="visually-hidden" asp-for="@Model.Name">Name</label>
                            <div class="input-group">
                                <div class="input-group-text text-center">Name</div>
                                <input required data-val="true" asp-for=@Model.Name type="text" class="form-control" id="addIncomeSourceName">
                                <span asp-validation-for="@Model.Name"></span>
                            </div>
                        </div>
                        <div class="col-auto col-lg-4 align-self-center border rounded py-1">
                            <div class="form-check form-switch ">
                                <label class="form-check-label" asp-for="@Model.SuggestOnLookup">Suggest On Lookup</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="addIncomeSourceSuggestOnLookup" data-val="true"
                                       asp-for="@Model.SuggestOnLookup" />
                                <span asp-validation-for="@Model.SuggestOnLookup"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 d-flex justify-content-center">
                        <div class="col-12 col-sm-6 col-lg-4 mb-1 mb-lg-0">
                            <label class="visually-hidden" asp-for="@Model.City">City</label>
                            <div class="input-group">
                                <div class="input-group-text">City</div>
                                <input data-val="true" asp-for=@Model.City type="text" class="form-control" id="addEditSourceCity">
                                <span asp-validation-for="@Model.City"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 mb-1 mb-lg-0">
                            <label class="visually-hidden" asp-for="@Model.State">State</label>
                            <div class="input-group">
                                <div class="input-group-text">State</div>
                                <environment names="@CashTrackEnv.Production, @CashTrackEnv.Electron">
                                    <select data-val="true" asp-for=@Model.State asp-items="@new SelectList(StateCodes.GetStateCodes())" data-width="100%" class="form-control text-center" id="addEditSourceState">
                                    <option value="" selected disabled hidden></option>
                                </select>
                                </environment>
                                <environment names="@CashTrackEnv.Development, @CashTrackEnv.Docker, @CashTrackEnv.Test">
                                    <select data-val="true" asp-for=@Model.State asp-items="@new SelectList(StateCodes.GetMyStateCodes())" data-width="100%" class="form-control text-center" id="addEditSourceState">
                                        <option value="" selected disabled hidden></option>
                                    </select>
                                </environment>
                                <span asp-validation-for="@Model.State"></span>
                            </div>
                        </div>
                        <div class="col-auto col-lg-4 align-self-center border rounded py-1 mb-1 mb-lg-0">
                            <div class="form-check form-switch">
                                <label class="form-check-label" asp-for="@Model.IsOnline">Online Source</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="addEditSourceIsOnline" data-val="true" asp-for="@Model.IsOnline" />
                                <span asp-validation-for="@Model.IsOnline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 px-1">
                        <label class="visually-hidden" asp-for="@Model.Notes"></label>
                        <textarea class="form-control" asp-for="@Model.Notes" id="addIncomeSourceNotes" rows="3" placeholder="Notes"></textarea>
                    </div>
                    <span class="validation-text" asp-validation-for="@Model.Notes"></span>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form>
                <button type="submit" class="btn btn-primary spin-it" form="addIncomeSourceForm">@addOrEdit Income Source</button>
            </form>
        </div>
    </div>
</div>