@using CashTrack.Models.Common;
@using CashTrack.Models.ImportRuleModels
@model CashTrack.Models.ImportRuleModels.AddEditImportRuleModal
@{
    var addOrEdit = Model.IsEdit ? "Edit" : "Add";
    var dataId = Model.Id.HasValue ? Model.Id.Value : 0;
    var formId = Model.IsEdit ? $"addEditImportRuleModalForm-{dataId}" : "addEditImportRuleModalForm";
 }

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title w-100 text-center">@addOrEdit an Import Rule</h5>
            <button type="button" 
                class="btn-close edit-rule-button-js" 
                data-bs-dismiss="modal" 
                data-rule-type=@Model.RuleType
                data-transaction-type=@Model.TransactionType>
            </button>
        </div>
        <div class="modal-body">
                <form method="post"
                      asp-page="/Import/Rules"
                      asp-page-handler="AddEditImportRuleModal"
                      id=@formId
                      class="container"
                >
                    @if (Model.IsEdit)
                    {
                        <input asp-for="@Model.Id" type="hidden" />
                    }
                    <input asp-for="@Model.IsEdit" type="hidden" />
                    <input asp-for="@Model.ReturnUrl" type="hidden" />
                <div class="row row-cols-3 justify-content-center mb-3">
                        <div class="col">
                            <div class="text-center fw-bold">
                                Rule Type
                            </div>
                            @foreach (var rule in System.Enum.GetValues(typeof(RuleType)))
                            {
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="RuleType">@rule.ToString()</label>
                                    <input type="radio"
                                   id=@($"RuleType-{(int)rule}")
                                       class="form-check-input filter-rule-radio-js"
                                       asp-for="RuleType"
                                       value=@((int)rule)
                                       checked="@((int)rule == (int)Model.RuleType)" />
                                </div>
                            }
                        </div>
                    <div class="col">
                            <div class="text-center fw-bold">
                                Transaction Type
                            </div>
                            @foreach (var transactionType in System.Enum.GetValues(typeof(TransactionType)))
                            {
                            <div class="form-check">
                                    <label class="form-check-label"
                                   asp-for="TransactionType">
                                        @transactionType.ToString()
                                        </label>
                                    <input type="radio"
                                        id=@($"TransactionType-{(int)transactionType}")
                                        data-id=@dataId
                                        data-is-edit=@Model.IsEdit
                                        class="form-check-input transaction-type-radio-js"
                                        asp-for="TransactionType"
                                        value=@((int)transactionType)
                                        checked="@((int)transactionType == (int)Model.TransactionType)" />
                                </div>
                            }
                        </div>
                    <div class="col">
                            <div class="text-center fw-bold">
                                File Type
                            </div>
                        <div class="row row-cols-auto">
                            @if (Model.FileTypes.Count > 0)
                            {
                                @foreach (var fileType in Model.FileTypes)
                                {
                                    <div class="form-check col mx-3">
                                        <label class="form-check-label" asp-for="FileType">@fileType</label>
                                        <input type="radio"
                                        id=@($"FileType-ImportRule-{fileType}")
                                        class="form-check-input"
                                        asp-for="FileType"
                                        value=@(fileType)
                                        checked="@(fileType == Model.FileTypes[0])" />
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="text-warning text-center">Go to the settings page to add an Import Profile</div>
                            }
                        </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold"
                                   asp-for="@Model.Rule">
                                Text found in the transaction notes that is used to execute the assignment or filter:
                            </label>
                            <textarea data-val="true"
                                      asp-for=@Model.Rule
                                      type="text"
                                      class="form-control" rows="2">
                            </textarea>
                            <span asp-validation-for="@Model.Rule"></span>
                        </div>
                    </div>
                <div class="row mb-3 filter-rule-hides-this-js">
                        <div class="col d-flex">
                            <div class="input-group">
                                <div class="input-group-text">Category</div>
                                <label class="visually-hidden" asp-for="@Model.CategoryId">Category</label>
                            @{
                                var categoryList = Model.TransactionType == TransactionType.Expense ?
                                    Model.SubCategoryList : Model.IncomeCategoryList;
                                var categorySelectListId = Model.IsEdit ? 
                                $"categorySelectList-{Model.Id.Value}" : "categorySelectList";
                            }
                            <select class="form-select text-center"
                                        asp-for=@Model.CategoryId
                                        asp-items=categoryList
                                    id=@categorySelectListId>
                                @if (!Model.IsEdit)
                                {
                                    <option value="" selected disabled hidden>Select</option>
                                }
                                @if (Model.IsEdit && Model.CategoryId == null)
                                {
                                    <option value="" selected disabled hidden>Select</option>
                                }
                            </select>
                            </div>
                        </div>
                    </div>
                <div class="row mb-3 filter-rule-hides-this-js">
                        <div class="col d-flex">
                            <div class="input-group">
                                <div class="input-group-text" id="merchantSourceLabel">@((int)Model.TransactionType == 0 ? "Merchant" : "Source")</div>
                                <label class="visually-hidden" asp-for="@Model.MerchantSourceId">MerchantSource</label>
                                @{
                                    var merchantSourceList = Model.TransactionType == TransactionType.Expense ?
                                    Model.MerchantList : Model.SourceList;
                                    var merchantSourceSelectListId = Model.IsEdit ?
                                $"merchantSourceSelectList-{Model.Id.Value}" : "merchantSourceSelectList";
                                }
                                <select asp-for=@Model.MerchantSourceId
                                        asp-items=merchantSourceList
                                        class="form-select text-center"
                                    id="@merchantSourceSelectListId">
                                    @if (!Model.IsEdit)
                                    {
                                        <option value="" selected disabled hidden>Select</option>
                                    }
                                    @if (Model.IsEdit && Model.TransactionType == TransactionType.Expense && Model.MerchantSourceId == null)
                                {
                                    <option value="" selected disabled hidden>Select</option>
                                }
                                else if (Model.IsEdit && Model.TransactionType == TransactionType.Income && Model.MerchantSourceId == null)
                                {
                                    <option value="" selected disabled hidden>Select</option>
                                }
                            </select>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <div class="modal-footer d-flex justify-content-evenly">
            <button 
                type="button" 
                class="btn btn-secondary edit-rule-button-js" 
                data-bs-dismiss="modal"
                data-rule-type=@Model.RuleType
                data-transaction-type=@Model.TransactionType
            >Close</button>
            @if (Model.FileTypes.Count > 0)
            {
                <form>
                    <button type="submit" class="btn btn-primary spin-it" form=@formId>Save</button>
                </form>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>Save</button>
            }
        </div>
    </div>
</div>